.introduction-card-wrap-outer {
  overflow: hidden;
}
.introduction-card-wrap {
  min-height: 550px;
  margin: 88px 0 120px;
}
.introduction-card-wrap .content-wrapper {
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.introduction-card-wrap .content-wrapper .introduction-image-box {
  flex-basis: 54%;
  position: relative;
}
.introduction-card-wrap .content-wrapper .introduction-image-box .image-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #D8D8EB;
  backdrop-filter: blur(18px);
  border-radius: 24px;
  padding: 43px 39px;
}
.introduction-card-wrap .content-wrapper .introduction-image-box .image-container .intro-img-box {
  border-radius: 24px;
  overflow: hidden;
}
.introduction-card-wrap .content-wrapper .introduction-image-box .image-container.image-container-animation {
  padding: 23px 26px;
}
.introduction-card-wrap .content-wrapper .introduction-image-box img {
  position: relative;
  z-index: 1;
  height: 608px;
}
.introduction-card-wrap .content-wrapper .introduction-image-box .image-container.image-container-animation img {
  height: 620px;
}

.introduction-card-wrap .content-wrapper .introduction-content-box {
  flex-basis: 46%;
  padding: 49px;
}

.introduction-card-wrap .content-wrapper .introduction-content-box .sec-label {
  display: inline-block;
  font-size: 0.3em;
  line-height: 100%;
  padding: 0.8em 1.2em;
  background: rgb(150,216,105);
  border-radius: 40px;
  color: #fff;
  transform: translateY(-0.5em);
}

.introduction-card-wrap .content-wrapper .introduction-content-box .introduction-buttons {
  margin-top: 33px;
}
.introduction-card-wrap .button{
  padding: 0 28px 0 20px;
}

.introduction-card-wrap .content-wrapper .introduction-content-box .content-img{
  width: 120px;
  margin-bottom: 32px;
}
.introduction-card-wrap .content-wrapper.flex-reverse {
  flex-direction: row-reverse;
}
.introduction-card-wrap .content-wrapper.flex-reverse .introduction-image-box .image-container {
  right: auto;
  left: 0;
}
.introduction-card-wrap .content-wrapper.flex-reverse .introduction-content-box {
  padding: 49px 49px 49px 0;
}
@media (max-width: 1900px){
  .introduction-card-wrap .content-wrapper .introduction-image-box img, .introduction-card-wrap .content-wrapper .introduction-image-box .image-container.image-container-animation img {
    height: 520px;
  }
}
@media (max-width: 1550px){
  .introduction-card-wrap .content-wrapper .introduction-image-box img, .introduction-card-wrap .content-wrapper .introduction-image-box .image-container.image-container-animation img {
    height: 420px;
  }
}
@media (max-width: 1250px){
  .introduction-card-wrap .content-wrapper .introduction-image-box img, .introduction-card-wrap .content-wrapper .introduction-image-box .image-container.image-container-animation img {
    height: 320px;
  }
}

@media (max-width: 767px){
  .introduction-card-wrap {
    height: auto;
    padding: 20px 16px;
    margin: 20px 0;
  }
  .introduction-card-wrap .content-wrapper {
    flex-wrap: wrap;
    padding: 0;
  }
  .introduction-card-wrap .content-wrapper .introduction-image-box  {
    flex-basis: 100%;
  }
  .introduction-card-wrap .content-wrapper .introduction-image-box .image-container {
    position: relative;
    transform: none;
    padding: 24px 20px;
  }
  .introduction-card-wrap .content-wrapper .introduction-image-box img, .introduction-card-wrap .content-wrapper .introduction-image-box .image-container.image-container-animation img {
    width: 100%;
    height: auto;
  }
  .introduction-card-wrap .content-wrapper .introduction-content-box, .introduction-card-wrap .content-wrapper.flex-reverse .introduction-content-box {
    flex-basis: 100%;
    padding: 20px;
    align-items: center;
  }
  .introduction-card-wrap .content-wrapper .introduction-content-box .content-img{
    width: 80px;
    margin-bottom: 20px;
  }
}









