{% import './tools/_macros.css' %}

{## Table of contents

  1. Variables
    1a. Containers
    1b. Colors
    1c. Typography
    1d. Buttons
    1e. Forms
    1f. Tables
    1g. Site header
    1h. Site footer
  2. Containers / Grid / DnD Areas
  3. Typography
  4. Buttons
  5. Forms
  6. Tables
  7. Site header
  8. Site footer
  9. Blog
  10. System pages
  11. Modules

##}

{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}

/* 1a. Containers */

{% set container_width = theme.spacing.max_width ~ 'px' %}
{% set dnd_section_padding = theme.spacing.vertical_spacing ~ 'px ' ~ '20px' %}

/* 1b. Colors */

{% set primary_color = theme.global_colors.primary_color.color  %}
{% set secondary_color = theme.global_colors.secondary_color.color %}

/* 1c. Typography */

{% if theme.typography.primary_font.primary_font_select == "google" %}{% set primary_font_size = theme.typography.primary_font.primary_font.size.value %}{% set primary_font_color = theme.typography.primary_font.primary_font.color %}{% set primary_font_variation = theme.typography.primary_font.primary_font.variation %}{% set primary_font = theme.typography.primary_font.primary_font.font %}{% else %}{% set primary_font_size = theme.typography.primary_font.primary_font_custom_font_size %}{% set primary_font_color = theme.typography.primary_font.primary_font_custom_font_color.color %}{% set primary_font = theme.typography.primary_font.primary_font_custom_font %}{% endif %}
{% if theme.typography.secondary_font.secondary_font_select == "google" %}{% set secondary_font_size = theme.typography.secondary_font.secondary_font.size.value %}{% set secondary_font_color = theme.typography.secondary_font.secondary_font.color %}{% set secondary_font_variation = theme.typography.secondary_font.secondary_font.variation %}{% set secondary_font = theme.typography.secondary_font.secondary_font.font %}{% else %}{% set secondary_font_size = theme.typography.secondary_font.secondary_font_custom_font_size %}{% set secondary_font_color = theme.typography.secondary_font.secondary_font_custom_font_color.color %}{% set secondary_font = theme.typography.secondary_font.secondary_font_custom_font %}{% endif %}


{% if theme.typography.body_text.body_text_select == "google" %}{% set body_size = theme.typography.body_text.body_text.size %}{% set body_color = theme.typography.body_text.body_text.color %}{% set body_variation =  theme.typography.body_text.body_text.variant %}{% set body_font = theme.typography.body_text.font %}{% else %}{% set body_size = theme.typography.body_text.body_font_custom_size %}{% set body_color = theme.typography.body_text.body_font_custom_color.color %}{% set body_font = theme.typography.body_text.body_font_custom %}{% endif %}
{% if theme.typography.h1_font.h1_font_select == "google" %}{% set h1_size = theme.typography.h1_font.h1_font.size %}{% set h1_color = theme.typography.h1_font.h1_font.color %}{% set h1_variation = theme.typography.h1_font.h1_font.variant %}{% set h1_font = theme.typography.h1_font.h1_font.font %}{% else %}{% set h1_color = theme.typography.h1_font.h1_custom_font_color.color %}{% set h1_size = theme.typography.h1_font.h1_custom_font_size %}{% set h1_font = theme.typography.h1_font.h1_custom_font %}{% endif %}
{% if theme.typography.h2_font.h2_font_select == "google" %}{% set h2_size = theme.typography.h2_font.h2_font.size %}{% set h2_color = theme.typography.h2_font.h2_font.color %}{% set h2_variation = theme.typography.h2_font.h2_font.variant %}{% set h2_font = theme.typography.h2_font.h2_font.font %}{% else %}{% set h2_color = theme.typography.h2_font.h2_custom_font_color.color %}{% set h2_size = theme.typography.h2_font.h2_custom_font_size %}{% set h2_font = theme.typography.h2_font.h2_custom_font %}{% endif %}
{% if theme.typography.h3_font.h3_font_select == "google" %}{% set h3_size = theme.typography.h3_font.h3_font.size %}{% set h3_color = theme.typography.h3_font.h3_font.color %}{% set h3_variation = theme.typography.h3_font.h3_font.variant %}{% set h3_font = theme.typography.h3_font.h3_font.font %}{% else %}{% set h3_color = theme.typography.h3_font.h3_custom_font_color.color %}{% set h3_size = theme.typography.h3_font.h3_custom_font_size %}{% set h3_font = theme.typography.h3_font.h3_custom_font %}{% endif %}
{% if theme.typography.h4_font.h4_font_select == "google" %}{% set h4_size = theme.typography.h4_font.h4_font.size %}{% set h4_color = theme.typography.h4_font.h4_font.color %}{% set h4_variation = theme.typography.h4_font.h4_font.variant %}{% set h4_font = theme.typography.h4_font.h4_font.font %}{% else %}{% set h4_color = theme.typography.h4_font.h4_custom_font_color.color %}{% set h4_size = theme.typography.h4_font.h4_custom_font_size %}{% set h4_font = theme.typography.h4_font.h4_custom_font %}{% endif %}
{% if theme.typography.h5_font.h5_font_select == "google" %}{% set h5_size = theme.typography.h5_font.h5_font.size %}{% set h5_color = theme.typography.h5_font.h5_font.color %}{% set h5_variation = theme.typography.h5_font.h5_font.variant %}{% set h5_font = theme.typography.h5_font.h5_font.font %}{% else %}{% set h5_color = theme.typography.h5_font.h5_custom_font_color.color %}{% set h5_size = theme.typography.h5_font.h5_custom_font_size %}{% set h5_font = theme.typography.h5_font.h5_custom_font %}{% endif %}
{% if theme.typography.h6_font.h6_font_select == "google" %}{% set h6_size = theme.typography.h6_font.h6_font.size %}{% set h6_color = theme.typography.h6_font.h6_font.color %}{% set h6_variation = theme.typography.h6_font.h6_font.variant %}{% set h6_font = theme.typography.h6_font.h6_font.font %}{% else %}{% set h6_color = theme.typography.h6_font.h6_custom_font_color.color %}{% set h6_size = theme.typography.h6_font.h6_custom_font_size %}{% set h6_font = theme.typography.h6_font.h6_custom_font %}{% endif %}

{% set anchor_font_color = theme.typography.link_color.color %}
{% set anchor_font_hover_color = theme.typography.link_hover_color.color %}

/* 1d. Buttons */
{% set button_bg_color = color(theme.buttons.background_color) %}
{% set button_font_color = theme.buttons.text_color.color %}
{% set button_border = theme.buttons.border_width ~ 'px solid ' ~ theme.buttons.border_color.color %}
{% set secondary_button_border = theme.buttons.border_width ~ 'px solid ' ~ secondary_color %}

{% set button_corner_radius = theme.buttons.border_radius ~ 'px' %}
{% set button_font_size = theme.buttons.button_font.size ~ 'px' %}
{% set button_spacing = theme.buttons.vertical_padding ~ 'px' ~ ' ' ~ theme.buttons.horizontal_padding ~ 'px' %}

/* 1e. Forms */

{% set form_title_bg_color = color(theme.forms.header_background_color) %}
{% set form_title_font_color = theme.forms.header_text_color.color %}

{% set form_label_font_color = theme.forms.label_color.color %}
{% set form_help_text_font_color = theme.forms.help_text_color.color %}

{% set form_input_border_color = theme.forms.field_border_color.color %}
{% set form_input_focus_border_color = theme.forms.field_focus_border_color.color %}

/* 1f. Tables */

{% set table_head_bg_color = color(theme.tables.header_background_color) %}
{% set table_head_font_color = theme.tables.header_text_color.color %}

{% set table_bg_color = color(theme.tables.body_background_color) %}
{% set table_font_color = theme.tables.body_text_color.color %}
{% set table_border_color = theme.tables.border_color.color %}

{% set table_footer_bg_color = color(theme.tables.footer_background_color) %}
{% set table_footer_font_color = theme.tables.footer_text_color.color %}

/* 1g. Site header */

{% set header_bg_color = color(theme.header.background_color) %}
{% set header_nav_link_color = theme.header.menu_link_color.color %}
{% set header_child_nav_border_color = theme.header.child_menu_border_color.color %}

/* 1h. Site footer */

{% set footer_bg_color = color(theme.footer.background_color) %}
{% set footer_font_color = theme.footer.text_color.color %}

{###########################################################################}
{##################   2. Containers / Grid / DnD Areas   ###################}
{###########################################################################}

.content-wrapper {
  max-width: {{ theme.spacing.max_width }}px;
}

.dnd-section,
.content-wrapper--vertical-spacing {
  position: relative;
  padding-top: {{ theme.spacing.vertical_spacing }}px;
  padding-bottom: {{ theme.spacing.vertical_spacing }}px;
}


{###########################################################################}
{###########################   3. Typography   #############################}
{###########################################################################}

html, body {
  font-size: {{ body_size }}px;
  color: {{ body_color }};
  font-weight: {{ theme.typography.body_text.body_text.variant }};
  /* font-family: {{ body_font }}; */
}


/* Anchors */

a {
  color: {{ anchor_font_color }};
}
a[href="javascript:;"]{
  cursor: default;
}

a:hover,
a:focus,
a:active {
  color: {{ anchor_font_hover_color }};
}

/* Headings */

h1 {
  /* font-family: {{ h1_font }}; */
  font-size: {{ h1_size }}px;
  color: {{ h1_color }};
  font-weight: {{ theme.typography.h1_font.h1_font.variant }};
}

h2 {
  /* font-family: {{ h2_font }}; */
  font-size: {{ h2_size }}px;
  color: {{ h2_color }};
  font-weight: {{ theme.typography.h2_font.h2_font.variant }};
}

h3 {
  /* font-family: {{ h3_font }}; */
  font-size: {{ h3_size }}px;
  color: {{ h3_color }};
  font-weight: {{ theme.typography.h3_font.h3_font.variant }};
}

h4 {
  /* font-family: {{ h4_font }}; */
  font-size: {{ h4_size }}px;
  color: {{ h4_color }};
  font-weight: {{ theme.typography.h4_font.h4_font.variant }};
}

h5 {
  /* font-family: {{ h5_font }}; */
  font-size: {{ h5_size }}px;
  color: {{ h5_color }};
  font-weight: {{ theme.typography.h5_font.h5_font.variant }};
}

h6 {
  /* font-family: {{ h6_font }}; */
  font-size: {{ h6_size }}px;
  color: {{ h6_color }};
  font-weight: {{ theme.typography.h6_font.h6_font.variant }};
}

/* Blockquote */

blockquote {
  border-left-color: {{ secondary_color }};
}

{###########################################################################}
{############################   4. Buttons   ###############################}
{###########################################################################}

button, .button {
  border-radius: {{ button_corner_radius }};
  padding: {{ button_spacing }};
  border: {{ button_border }};
  font-size: {{button_font_size}};
  font-weight: {{ theme.buttons.button_font.variant }};
  line-height: 46px;
}
@media (max-width: 1400px){
  button, .button {
    font-size: 15px;
    line-height: 40px;
  }
}
@media (max-width: 768px){
  button, .button {
    font-size: 14px;
    line-height: 38px;
  }
}
.button-primary {
  background-color: {{ primary_color }};
  color: {{ button_font_color }};
}
.button-primary a {
  display: block;
  color: {{ button_font_color }};
}
.button-primary a svg path {
  fill: {{ button_font_color }};
}

.button-primary:hover,
.button-primary:focus {
  background-color: rgba({{ theme.buttons.background_hover_color.color|convert_rgb }}, {{ theme.buttons.background_hover_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.border_hover_color.color|convert_rgb }}, {{ theme.buttons.border_hover_color.opacity * 0.01 }});
  color: rgba({{ theme.buttons.text_hover_color.color|convert_rgb }}, {{ theme.buttons.text_hover_color.opacity * 0.01 }});
}
.button-primary:hover a,
.button-primary:focus a {
  color: rgba({{ theme.buttons.text_hover_color.color|convert_rgb }}, {{ theme.buttons.text_hover_color.opacity * 0.01 }});
}

.button-secondary {
  background-color: #fff;
  color: #000;
  border: {{ secondary_button_border }};
}
.button-secondary a {
  display: block;
  color: #000;
}
.button-secondary:hover,
.button-secondary:focus {
  background: #F0FBFF;
  color: #000;
}
.button-secondary:hover a,
.button-secondary:focus a{
  color: #000;
}

@media (max-width: 768px){
  button, .button {
    font-size: 15px;
    line-height: 40px;
  }
}
{###########################################################################}
{##############################   5. Forms   ###############################}
{###########################################################################}

.form-title {
  background-color: rgba({{ theme.forms.header_background_color.color|convert_rgb }}, {{ theme.forms.header_background_color.opacity * 0.01 }});
  color: rgba({{ theme.forms.header_text_color.color|convert_rgb }}, {{ theme.forms.header_text_color.opacity * 0.01 }});
}


/* Form label */

form label {
  color: rgba({{ theme.forms.label_color.color|convert_rgb }}, {{ theme.forms.label_color.opacity * 0.01 }});
}

/* Form help text */

form legend {
  color: rgba({{ theme.forms.help_text_color.color|convert_rgb }}, {{ theme.forms.help_text_color.opacity * 0.01 }});
}

/* Form inputs */

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  border-color: rgba({{ theme.forms.field_border_color.color|convert_rgb }}, {{ theme.forms.field_border_color.opacity * 0.01 }});
  background-color: rgba({{ theme.forms.field_background_color.color|convert_rgb }}, {{ theme.forms.field_background_color.opacity * 0.01 }});
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=tel]:focus,
form input[type=number]:focus,
form input[type=file]:focus,
form select:focus,
form textarea:focus {
  border-color: rgba({{ theme.forms.field_focus_border_color.color|convert_rgb }}, {{ theme.forms.field_focus_border_color.opacity * 0.01 }});
}


/* Date picker */

.fn-date-picker td.is-selected .pika-button {
  background: {{ primary_color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ primary_color }} !important;
}

.fn-date-picker td.is-today .pika-button {
  color: {{ primary_color }};
}

/* Submit button */

form input[type=submit],
form .hs-button {
  background-color: rgba({{ theme.buttons.background_color.color|convert_rgb }}, {{ theme.buttons.background_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.border_color.color|convert_rgb }}, {{ theme.buttons.border_color.opacity * 0.01 }});
  color: rgba({{ theme.buttons.text_color.color|convert_rgb }}, {{ theme.buttons.text_color.opacity * 0.01 }});
  border-width: {{ theme.buttons.border_width }}px;
  border-radius: {{ button_corner_radius }};
  padding: {{ button_spacing }};
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
  background-color: rgba({{ theme.buttons.background_hover_color.color|convert_rgb }}, {{ theme.buttons.background_hover_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.border_hover_color.color|convert_rgb }}, {{ theme.buttons.border_hover_color.opacity * 0.01 }});
  color: rgba({{ theme.buttons.text_hover_color.color|convert_rgb }}, {{ theme.buttons.text_hover_color.opacity * 0.01 }});
}

form input[type=submit]:active,
form .hs-button:active {
  background-color: rgba({{ color_variant(theme.buttons.background_color.color, 40)|convert_rgb }}, {{ theme.buttons.background_color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border_color.color, 40) }};
  color: {{ button_font_color }};
}

{###########################################################################}
{#############################   6. Tables   ###############################}
{###########################################################################}

table {
  background-color: {{ table_bg_color }};
  border-color: {{ table_border_color }};
}

th,
td {
  border-color: {{ table_border_color }};
  color: {{ table_font_color }};
}

thead th,
thead td {
  background-color: {{ table_head_bg_color }};
  border-bottom-color: {{ table_border_color }};
  color: {{ table_head_font_color }};
}

tfoot td {
  background-color: {{ table_footer_bg_color }};
  color: {{ table_footer_font_color }};
}

{###########################################################################}
{###########################   7. Site header   ############################}
{###########################################################################}


/******************************************************** Normal Header ******************************************************************/
header.header a svg, header.header a svg path{
  fill: rgba({{ theme.header.normal_header.menu_link_color.color|convert_rgb }}, {{ theme.header.normal_header.menu_link_color.opacity * 0.01 }});
}
.header-navigation .hs-menu-wrapper > ul > li > a span.menu-arrow svg.rotate{
  fill: rgba({{ theme.header.normal_header.menu_link_color.color|convert_rgb }}, {{ theme.header.normal_header.menu_link_color.opacity * 0.01 }});
}
header.header .hs-menu-wrapper a:hover{
  color: rgba({{ theme.header.normal_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.normal_header.menu_link_hover_color.opacity * 0.01 }});
}
header.header .hs-menu-wrapper a:hover svg, header.header .hs-menu-wrapper a:hover svg path{
  fill: rgba({{ theme.header.normal_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.normal_header.menu_link_hover_color.opacity * 0.01 }});
}
body .header-navigation .hs-menu-wrapper > ul > li > a {
  color: rgba({{ theme.header.normal_header.menu_link_color.color|convert_rgb }}, {{ theme.header.normal_header.menu_link_color.opacity * 0.01 }});
}
body .header-navigation .hs-menu-wrapper > ul > li > a {
  background-color: rgba({{ theme.header.normal_header.menu_link_background_color.color|convert_rgb }}, {{ theme.header.normal_header.menu_link_background_color.opacity * 0.01 }});
}
body .header-navigation .hs-menu-wrapper > ul > li:hover > a,
body .header-navigation .hs-menu-wrapper > ul > li:focus > a {
  background-color: rgba({{ theme.header.normal_header.menu_link_hover_background_color.color|convert_rgb }}, {{ theme.header.normal_header.menu_link_hover_background_color.opacity * 0.01 }});
  color: rgba({{ theme.header.normal_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.normal_header.menu_link_hover_color.opacity * 0.01 }});
}
.header-navigation .hs-menu-wrapper > ul > li:hover > a span.menu-arrow svg.rotate,
.header-navigation .hs-menu-wrapper > ul > li:hover > a span.menu-arrow svg.rotate path{
  fill: rgba({{ theme.header.normal_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.normal_header.menu_link_hover_color.opacity * 0.01 }});
}
body .header-navigation .hs-menu-wrapper > ul > li.active-branch > a,
body .header-navigation .hs-menu-wrapper > ul > li.active > a{
  color: rgba({{ theme.header.normal_header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.normal_header.active_menu_link_color.opacity * 0.01 }});
  background-color: rgba({{ theme.header.normal_header.active_menu_link_background_color.color|convert_rgb }}, {{ theme.header.normal_header.active_menu_link_background_color.opacity * 0.01 }});
}
.header-navigation .hs-menu-wrapper > ul > li.active > a span.menu-arrow svg.rotate,
.header-navigation .hs-menu-wrapper > ul > li.active-branch > a span.menu-arrow svg.rotate,
.header-navigation .hs-menu-wrapper > ul > li.active > a span.menu-arrow svg.rotate path,
.header-navigation .hs-menu-wrapper > ul > li.active-branch > a span.menu-arrow svg.rotate path{
  fill: rgba({{ theme.header.normal_header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.normal_header.active_menu_link_color.opacity * 0.01 }});
}
body .header-navigation .hs-menu-wrapper > ul ul {
  background-color: rgba({{ theme.header.normal_header.child_menu_background_color.color|convert_rgb }}, {{ theme.header.normal_header.child_menu_background_color.opacity * 0.01 }});
}
body .header-navigation .hs-menu-wrapper > ul ul li a {
  color: rgba({{ theme.header.normal_header.child_menu_link_color.color|convert_rgb }}, {{ theme.header.normal_header.child_menu_link_color.opacity * 0.01 }});
}
body .header-navigation .hs-menu-wrapper > ul ul li a:hover,
body .header-navigation .hs-menu-wrapper > ul ul li a:focus {
  background-color: rgba({{ theme.header.normal_header.child_menu_link_hover_background_color.color|convert_rgb }}, {{ theme.header.normal_header.child_menu_link_hover_background_color.opacity * 0.01 }});
  color: rgba({{ theme.header.normal_header.child_menu_link_hover_color.color|convert_rgb }}, {{ theme.header.normal_header.child_menu_link_hover_color.opacity * 0.01 }});
}
body .header-navigation .hs-menu-wrapper > ul ul li.active-branch > a,
body .header-navigation .hs-menu-wrapper > ul ul li.active > a{
  color: rgba({{ theme.header.normal_header.active_child_menu_link_color.color|convert_rgb }}, {{ theme.header.normal_header.active_child_menu_link_color.opacity * 0.01 }});
  background-color: rgba({{ theme.header.normal_header.active_child_menu_link_background_color.color|convert_rgb }}, {{ theme.header.normal_header.active_child_menu_link_background_color.opacity * 0.01 }});
}

/******************************************************** Fixed Header ******************************************************************/
body.fixed header.header {
  background-color: rgba({{ theme.header.fixed_header.background_color.color|convert_rgb }}, {{ theme.header.fixed_header.background_color.opacity * 0.01 }});
}
body.fixed header.header a{
  color: rgba({{ theme.header.fixed_header.menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_color.opacity * 0.01 }});
}
body.fixed header.header a svg, body.fixed header.header a svg path{
  fill: rgba({{ theme.header.fixed_header.menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul > li > a span.menu-arrow svg.rotate{
  fill: rgba({{ theme.header.fixed_header.menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_color.opacity * 0.01 }});
}
body.fixed header.header a:hover{
  color: rgba({{ theme.header.fixed_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_hover_color.opacity * 0.01 }});
}
body.fixed header.header a:hover svg, body.fixed header.header a:hover svg path{
  fill: rgba({{ theme.header.fixed_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_hover_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul > li:hover > a span.menu-arrow svg.rotate,
body.fixed .header-navigation .hs-menu-wrapper > ul > li:hover > a span.menu-arrow svg.rotate path{
  fill: rgba({{ theme.header.fixed_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_hover_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul > li > a {
  color: rgba({{ theme.header.fixed_header.menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul > li > a {
  background-color: rgba({{ theme.header.fixed_header.menu_link_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_background_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul > li:hover > a,
body.fixed .header-navigation .hs-menu-wrapper > ul > li:focus > a {
  background-color: rgba({{ theme.header.fixed_header.menu_link_hover_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_hover_background_color.opacity * 0.01 }});
  color: rgba({{ theme.header.fixed_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_hover_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul > li.active-branch > a,
body.fixed .header-navigation .hs-menu-wrapper > ul > li.active > a{
  color: rgba({{ theme.header.fixed_header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.active_menu_link_color.opacity * 0.01 }});
  background-color: rgba({{ theme.header.fixed_header.active_menu_link_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.active_menu_link_background_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul > li.active-branch > a span.menu-arrow svg.rotate,
body.fixed .header-navigation .hs-menu-wrapper > ul > li.active > a span.menu-arrow svg.rotate,
body.fixed .header-navigation .hs-menu-wrapper > ul > li.active-branch > a span.menu-arrow svg.rotate path,
body.fixed .header-navigation .hs-menu-wrapper > ul > li.active > a span.menu-arrow svg.rotate path{
  fill: rgba({{ theme.header.fixed_header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.active_menu_link_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul ul {
  background-color: rgba({{ theme.header.fixed_header.child_menu_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.child_menu_background_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul ul li a {
  color: rgba({{ theme.header.fixed_header.child_menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.child_menu_link_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul ul li a:hover,
body.fixed .header-navigation .hs-menu-wrapper > ul ul li a:focus {
  background-color: rgba({{ theme.header.fixed_header.child_menu_link_hover_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.child_menu_link_hover_background_color.opacity * 0.01 }});
  color: rgba({{ theme.header.fixed_header.child_menu_link_hover_color.color|convert_rgb }}, {{ theme.header.fixed_header.child_menu_link_hover_color.opacity * 0.01 }});
}
body.fixed .header-navigation .hs-menu-wrapper > ul ul li.active-branch > a,
body.fixed .header-navigation .hs-menu-wrapper > ul ul li.active > a{
  color: rgba({{ theme.header.fixed_header.active_child_menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.active_child_menu_link_color.opacity * 0.01 }});
  background-color: rgba({{ theme.header.fixed_header.active_child_menu_link_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.active_child_menu_link_background_color.opacity * 0.01 }});
}

/******************************************************** No Banner Header ******************************************************************/
body.noBanner header.header {
  background-color: rgba({{ theme.header.fixed_header.background_color.color|convert_rgb }}, {{ theme.header.fixed_header.background_color.opacity * 0.01 }});
}
body.noBanner header.header a{
  color: rgba({{ theme.header.fixed_header.menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_color.opacity * 0.01 }});
}
body.noBanner header.header a svg, body.noBanner header.header a svg path{
  fill: rgba({{ theme.header.fixed_header.menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul > li > a span.menu-arrow svg.rotate{
  fill: rgba({{ theme.header.fixed_header.menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_color.opacity * 0.01 }});
}
body.noBanner header.header a:hover{
  color: rgba({{ theme.header.fixed_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_hover_color.opacity * 0.01 }});
}
body.noBanner header.header a:hover svg, body.noBanner header.header a:hover svg path{
  fill: rgba({{ theme.header.fixed_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_hover_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul > li:hover > a span.menu-arrow svg.rotate,
body.noBanner .header-navigation .hs-menu-wrapper > ul > li:hover > a span.menu-arrow svg.rotate path{
  fill: rgba({{ theme.header.fixed_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_hover_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul > li > a {
  color: rgba({{ theme.header.fixed_header.menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul > li > a {
  background-color: rgba({{ theme.header.fixed_header.menu_link_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_background_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul > li:hover > a,
body.noBanner .header-navigation .hs-menu-wrapper > ul > li:focus > a {
  background-color: rgba({{ theme.header.fixed_header.menu_link_hover_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_hover_background_color.opacity * 0.01 }});
  color: rgba({{ theme.header.fixed_header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.fixed_header.menu_link_hover_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul > li.active-branch > a,
body.noBanner .header-navigation .hs-menu-wrapper > ul > li.active > a{
  color: rgba({{ theme.header.fixed_header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.active_menu_link_color.opacity * 0.01 }});
  background-color: rgba({{ theme.header.fixed_header.active_menu_link_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.active_menu_link_background_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul > li.active-branch > a span.menu-arrow svg.rotate,
body.noBanner .header-navigation .hs-menu-wrapper > ul > li.active > a span.menu-arrow svg.rotate,
body.noBanner .header-navigation .hs-menu-wrapper > ul > li.active-branch > a span.menu-arrow svg.rotate path,
body.noBanner .header-navigation .hs-menu-wrapper > ul > li.active > a span.menu-arrow svg.rotate path{
  fill: rgba({{ theme.header.fixed_header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.active_menu_link_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul ul {
  background-color: rgba({{ theme.header.fixed_header.child_menu_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.child_menu_background_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul ul li a {
  color: rgba({{ theme.header.fixed_header.child_menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.child_menu_link_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul ul li a:hover,
body.noBanner .header-navigation .hs-menu-wrapper > ul ul li a:focus {
  background-color: rgba({{ theme.header.fixed_header.child_menu_link_hover_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.child_menu_link_hover_background_color.opacity * 0.01 }});
  color: rgba({{ theme.header.fixed_header.child_menu_link_hover_color.color|convert_rgb }}, {{ theme.header.fixed_header.child_menu_link_hover_color.opacity * 0.01 }});
}
body.noBanner .header-navigation .hs-menu-wrapper > ul ul li.active-branch > a,
body.noBanner .header-navigation .hs-menu-wrapper > ul ul li.active > a{
  color: rgba({{ theme.header.fixed_header.active_child_menu_link_color.color|convert_rgb }}, {{ theme.header.fixed_header.active_child_menu_link_color.opacity * 0.01 }});
  background-color: rgba({{ theme.header.fixed_header.active_child_menu_link_background_color.color|convert_rgb }}, {{ theme.header.fixed_header.active_child_menu_link_background_color.opacity * 0.01 }});
}


{###########################################################################}
{###########################   8. Site footer   ############################}
{###########################################################################}

.footer {
  background-color: rgba({{ theme.footer.background_color.color|convert_rgb }}, {{ theme.footer.background_color.opacity * 0.01 }});
}
.intro-gap p{
  color: rgba({{ theme.footer.text_color.color|convert_rgb }}, {{ theme.footer.text_color.opacity * 0.01 }});
}
.footer a {
  color: rgba({{ theme.footer.link_color.color|convert_rgb }}, {{ theme.footer.link_color.opacity * 0.01 }});
}
.footer a:hover {
  color: rgba({{ theme.footer.link_hover_color.color|convert_rgb }}, {{ theme.footer.link_hover_color.opacity * 0.01 }});
}

.fSimple-menu .hs-menu-wrapper ul li a{
  color: rgba({{ theme.footer.legal_link_color.color|convert_rgb }}, {{ theme.footer.legal_link_color.opacity * 0.01 }});
}
.fSimple-menu .hs-menu-wrapper ul li a:hover{
  color: rgba({{ theme.footer.legal_link_hover_color.color|convert_rgb }}, {{ theme.footer.legal_link_hover_color.opacity * 0.01 }});
}

.footer-links .hs-menu-wrapper ul li a{
  color: rgba({{ theme.footer.primary_menu_link_color.color|convert_rgb }}, {{ theme.footer.primary_menu_link_color.opacity * 0.01 }});
}
.footer-links .hs-menu-wrapper ul li a:hover{
  color: rgba({{ theme.footer.primary_menu_link_hover_color.color|convert_rgb }}, {{ theme.footer.primary_menu_link_hover_color.opacity * 0.01 }});
}



{###########################################################################}
{##########################   10. System pages   ###########################}
{###########################################################################}



{###########################################################################}
{############################   11. Modules   ##############################}
{###########################################################################}

.card__price {
  font-family: {{ h3_font }};
  font-size: {{ h3_size }}px;
  color: {{ h3_color }};
  font-weight: {{ h3_variation }}
}
