.performance-temp-wrapper {
  width: 100%;
  position: relative;
}
.performance-temp-wrapper .performance-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  position: absolute;
  bottom: 22px;
  right: 0%;
  transform: translateX(-65px);
  width: 1170px;
  height: 388px;
  max-width: 80%;
}
.performance-temp-wrapper .sec-img-icon {
  height: 2.5rem;
  margin-left: 2rem;
}
.performance-temp-wrapper .content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 80px 30px;
}
.performance-temp-wrapper.decorated-line  .content-wrapper:after {
  position: absolute;
  content: '';
  top:0;
  left: 29px;
  width: 1px;
  height: 100%;
  z-index: 0;
  background-color: #D8D8EB;
}
.performance-temp-wrapper .product-performance-row {
  width: 100%;
  padding: 75px 0;
}
.performance-temp-wrapper .feature-item {
  position: relative;
  flex-basis: 29%;
  box-sizing: border-box;
  padding: 11rem 2.5rem 2.5rem;
  border: 1px solid #494949;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  border: 1px solid #D8D8EB;
  backdrop-filter: blur(9px);
  border-radius: 21px;
}
.performance-temp-wrapper .feature-item .feature-item-bg .vs-container {
  position: absolute;
  height: 10rem;
  width: 100%;
  background-color: #65DAFF;
  border-radius: 0;
}
.performance-temp-wrapper .feature-item .feature-item-bg .vs-container .vs-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 1rem;
  z-index: 1;
}

.performance-temp-wrapper .feature-item .feature-item-bg .vs-container .vs-icon {
  width: 2.7rem;
  z-index: 1;
}
.performance-temp-wrapper .feature-item .feature-item-bg {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 21px;
  overflow: hidden;
}
.performance-temp-wrapper .feature-item .item-icon {
  position: absolute;
  width: 142px;
  right: -68px;
  top: -112px;
  z-index: 1;
  max-width: 70%;
}
.performance-temp-wrapper .feature-item .feature-item-content {
  position: relative;
  z-index: 2;
}
.performance-temp-wrapper .feature-item p.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow-y:hidden;
  margin: 0;
}
.performance-temp-wrapper .feature-item p.content {
  font-size: 16px;
  line-height: 32px;
  height: 285px;
  overflow-y: hidden;
  margin: 15px 0;
}
.performance-temp-wrapper .feature-item .button {
  padding: 0 28px 0 20px;
}
@media(max-width: 1240px){
  .performance-temp-wrapper .feature-item {
    padding: 11rem 1.5rem 2.5rem;
  }
  .performance-temp-wrapper .feature-item .button {
    font-size: 14px;
    padding: 0 20px 0 16px;
  }
  .performance-temp-wrapper .sec-img-icon {
    height: 1.5rem;
    margin-left: 1rem;
  }
}
@media(max-width: 1000px){
  .performance-temp-wrapper .feature-item .button {
    font-size: 13px;
    padding: 0 12px 0 12px;
    line-height: 40px;
  }
}
@media(max-width: 900px){
  .performance-temp-wrapper .content-wrapper:after {
    display: none;
  }
}
@media(max-width: 768px){
  .performance-temp-wrapper {
    height: auto;
    padding: 2rem 0;
  }
  .performance-temp-wrapper .sec-img-icon {
    height: 2rem;
    margin: 1rem auto 0 auto;
  }
  .performance-temp-wrapper .content-wrapper {
    width: 90%;
    padding: 1rem 0;
  }
  .performance-temp-wrapper .feature-item .item-icon  {
    display: none;
  }
 
  .performance-temp-wrapper .performance-bg {
    left: auto;
    right: 10px;
    transform:none;
    width: 80%;
    height: 388px;
}
  .performance-temp-wrapper .product-performance-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  .performance-temp-wrapper .feature-item {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    margin-bottom: 20px;
    max-width: 100%;
    padding: 176px 30px 30px;
  }
  .performance-temp-wrapper .feature-item p.title{
    height: auto;
    font-size: 16px;
  }
  .performance-temp-wrapper .feature-item p.content{
    height: auto;
    font-size: 14px;
    margin-top: 10px;
    line-height: 26px;
  }
}

