{% if module.section_title or module.section_content %}
<div id="{{module.section_id ||  name }}" name="{{ name }}" class="introduction-video-wrap hs-row-flex hs-jus-center hs-align-center" style="background-color:{{ module.background_color.color }}; opacity:{{ module.background_color.opacity * 0.01 }};">
  <div class="content-wrapper hs-col-flex hs-align-center {% if module.horizontal_layout %} row-layout {% endif %} {% if module.reverse_boolean %} flex-reverse {% endif %}">
     <div class="hs-col-flex hs-align-center title-box">
      <h3 class="sec-title">{{ module.section_title }}</h3>
      <div class="sec-content">{{ module.section_content }}</div>
      {% if module.buttons %}
        <div class="introduction-buttons hs-row-flex hs-align-center hs-jus-center">
          {% for item in module.buttons %}
          <div class="button button-{{ item.style }}">
            {% set href = item.link.url.href %}
            {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a 
                href="{{ href }}"
                {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
                >
                <span> {{ item.text }} 
                {% if item.show_narrow %}
                          <svg height="18" version="1.1" viewbox="0 0 1024 1024" width="18" xmlns="http://www.w3.org/2000/svg">
                            <path d="M826.24 535.893333l-212.48 213.333334a33.706667 33.706667 0 0 1-23.893333 10.24c-8.533333 0-17.066667-3.413333-23.893334-10.24a34.005333 34.005333 0 0 1 0-48.64l154.453334-155.306667H222.08c-18.773333 0-34.133333-15.36-34.133333-34.133333 0-18.773333 15.36-34.133333 34.133333-34.133334h498.346667l-154.453334-155.306666a34.005333 34.005333 0 0 1 0-48.64c13.653333-13.653333 34.986667-13.653333 48.64 0l212.48 213.333333c12.8 14.506667 12.8 36.693333-0.853333 49.493333z" p-id="4717"></path>
                          </svg>
                        {% endif %}
              </span>
            </a>
          </div>
          {% endfor %}
        </div>
      {% endif %}
      </div>
      {% if module.show_way == 'video-way' %}
        {% if module.file_video %}
          <div class="video-box {% if module.show_way_card %} card {% endif %} ">
            <video controls x-webkit-airplay="true" webkit-playsinline="true" preload="none" src="{{ module.file_video }}" poster="{{module.poster_img.src}}"></video>
          </div>
        {% endif %}
      {% endif %}
      {% if module.show_way == 'img-way' %}
        {% if module.intro_img %}
            {% set href = module.intro_img_link.url.href %}
            {% if module.intro_img_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            {% if !module.image_link_flag %}
              {% set href = "javascript:;" %}
            {% endif %}
            
          <div class="video-box {% if module.show_way_card %} card {% endif %}">
            <a 
                href="{{ href }}"
                {% if module.image_link_flag && module.intro_img_link.open_in_new_tab %}target="_blank"{% endif %}
                {% if module.image_link_flag && module.intro_img_link.rel %}rel="{{ module.intro_img_link.rel }}"{% endif %}
                >
              <img class="intro-img" src="{{ module.intro_img.src }}" alt="{{ module.intro_img.alt }}">
            </a>
          </div>
        {% endif %}
      {% endif %}
      {% if module.show_way == 'embed-wistia' %}
        <div class="video-box {% if module.show_way_card %} card {% endif %}">
          {% if module.embed_field %}
            {{ module.embed_field.media_bridge_object.oembed_response.html }}
          {% endif %}
        </div>
      {% endif %}
  </div>
</div>
{% endif %}