.slide-customer-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slide-customer-wrap .content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
.slide-customer-wrap .content-wrapper .swiper-container {
  padding: 30px 0;
  overflow: visible;
}
.slide-customer-wrap .content-wrapper .swiper-wrapper {
  max-width: 950px;
}
.slide-customer-wrap .swiper-button-next, .slide-customer-wrap .swiper-button-prev {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #65DAFF;
  border-radius: 50%;
}
.slide-customer-wrap .swiper-button-next:after, .slide-customer-wrap .swiper-button-prev:after {
  font-size: 18px;
  color: #000;
}
.slide-customer-wrap .swiper-button-prev {
  left: -150px;
}
.slide-customer-wrap .swiper-button-next {
  right: -150px;
}
.slide-customer-wrap .slide-item {
  position: relative;
  box-sizing: border-box;
  position: relative;
  border-radius: 24px;
  padding: 40px 46px 50px;
  margin-bottom: 20px;
  max-width: 950px;
  min-height: 550px;
  border-radius: 24px;
  background-color: #0061FF;
  background-size: cover;
  background-position: center center;
  opacity: 0.1;
}
.slide-customer-wrap .swiper-slide.swiper-slide-prev, .slide-customer-wrap .swiper-slide.swiper-slide-next {
  opacity: 0.3;
}
.slide-customer-wrap .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.slide-customer-wrap .slide-item:after{
  position: absolute;
  content: "";
  right: 80px;
  top: -20px;
  width: 91px;
  height: 82px;
  background:url("https://celerdata.com/hubfs/celerdata_2023/quote.png") no-repeat right center / contain;
}

.slide-customer-wrap .slide-item .item_label span{
  transform: rotate(48.88deg);
}
.slide-customer-wrap .slide-item .slide-item-content {
  flex: 1;
  z-index: 1;
  position: relative;
  color: #fff;
}

.slide-customer-wrap .slide-item img{
  width: 120px;
  margin: 0 0 42px 0;
}
.slide-customer-wrap .slide-item p.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 63px;
}
.slide-customer-wrap .slide-item p.content {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
@media(max-width: 1200px){
  .slide-customer-wrap .swiper-button-next, .slide-customer-wrap .swiper-button-prev {
    display: none;
  }
}
@media(max-width: 768px){
  .slide-customer-wrap {
    height: auto;
  }
  .slide-customer-wrap .content-wrapper {
    width: 90%;
    padding: 0;
  }
  .slide-customer-wrap .content-wrapper .swiper-container {
    overflow: hidden;
    width: 100%;
  }
  .slide-customer-wrap .slide-item {
    width: 100%;
    padding: 26px 26px 22px;
  }
  .slide-customer-wrap .slide-item:after {
    height: 60px;
    width: 66px;
    right: 35px;
  }
  .slide-customer-wrap .slide-item p.title{
    height: auto;
    font-size: 16px;
  }
  .slide-customer-wrap .slide-item img {
    width: 80px;
    margin: 0 0 22px;
  }
  .slide-customer-wrap .slide-item p.content{
    height: auto;
    font-size: 14px;
    margin-top: 10px;
    line-height: 26px;
  }
}

