{% if module.section_title or module.items_group %}
<div class="customers-temp-wrapper {% if module.has_decorated%} decorated-line {%endif%}">
    <div class="content-wrapper hs-col-flex">
      {% if module.background_image.src %}
        <div class="customers-bg" style="background-image: url({{ module.background_image.src }});"></div>
      {% endif %}
      <div class="hs-col-flex customers-top">
        {% if module.section_title %}
          <div class="hs-row-flex sec-title-wrap">
            <span class="title-decorate row-flex">
              <img class="title-decorate-img" src="{{ get_asset_url('../../images/title-decorate.png') }}" alt="title" />
            </span>
            <p class="sec-title">{{ module.section_title }}</p>
          </div>
        {% endif %}
        <div class="sec-content">{{ module.section_content }}</div>
      </div>
      <div class="product-customers-row hs-row-flex hs-jus-between">
        {% for item in module.items_group %}
          <div class="feature-item">
            <div class="feature-item-content hs-col-flex hs-align-start">
              <div class="feature-item-top hs-row-flex hs-align-start">
                {% if item.customer_img.src %}
                  <div class="photo-box">
                    <img src="{{ item.customer_img.src }}" alt="{{ item.customer_img.alt }}" width="100%" height="100%">
                  </div>
                {% endif %}
                <div class="intro-box">
                  <p class="name">{{ item.customer_name }}</p>
                  <p class="brife">{{ item.brife }}</p>
                </div>
              </div>
              <div class="content">
                <div class="content-bg" style="background-color:{{ item.background_color.color }}; opacity:{{ item.background_color.opacity * 0.01 }};"></div>
                <div class="content-main hs-col-flex">
                  <div class="content-text">{{ item.content }}</div>
                  {% if item.buttons %}
                    <div class="customers-buttons">
                      {% for itemButton in item.buttons %}
                      <div class="button button-{{ itemButton.style }} row-flex">
                        {% if itemButton.type == "std" %}
                        {% set href = itemButton.link.url.href %}
                        {% if itemButton.link.url.type is equalto "EMAIL_ADDRESS" %}
                        {% set href = "mailto:" + href %}
                        {% endif %}
                        <a href="{{ href }}"
                            {% if itemButton.link.open_in_new_tab %}target="_blank"{% endif %}
                            {% if itemButton.link.rel %}rel="{{ itemButton.link.rel }}"{% endif %}
                            >
                            <span> {{ itemButton.text }} 
                            <svg height="18" version="1.1" viewbox="0 0 1024 1024" width="18" xmlns="http://www.w3.org/2000/svg">
                              <path d="M826.24 535.893333l-212.48 213.333334a33.706667 33.706667 0 0 1-23.893333 10.24c-8.533333 0-17.066667-3.413333-23.893334-10.24a34.005333 34.005333 0 0 1 0-48.64l154.453334-155.306667H222.08c-18.773333 0-34.133333-15.36-34.133333-34.133333 0-18.773333 15.36-34.133333 34.133333-34.133334h498.346667l-154.453334-155.306666a34.005333 34.005333 0 0 1 0-48.64c13.653333-13.653333 34.986667-13.653333 48.64 0l212.48 213.333333c12.8 14.506667 12.8 36.693333-0.853333 49.493333z" p-id="4717"></path>
                            </svg>
                          </span>
                        </a>
                        {% endif %}
                        {% if itemButton.type == "cta" %}
                        {% cta guid="{{ itemButton.cta }}" %}
                        {% endif %}
                      </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                {% if item.content_decorate.src %}
                  <img class="item-icon" src="{{ item.content_decorate.src }}" alt="{{ item.content_decorate.alt }}">
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="hs-row-flex hs-jus-center footer-narrow">
      <svg width="516" height="185" viewBox="0 0 516 185" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: -1px;">
          <path d="M1 0V25.3848C1 32.2228 3.70655 38.7807 8.5244 43.6164C13.3423 48.4521 19.8769 51.1695 26.6911 51.171H489.5C496.31 51.1726 502.841 53.8868 507.659 58.7175C512.476 63.5481 515.185 70.1001 515.191 76.934V185" stroke="#D8D8EB" stroke-miterlimit="10"/>
      </svg>
      <svg width="516" height="185" viewBox="0 0 516 185" fill="none" xmlns="http://www.w3.org/2000/svg"style="margin-left: -1px;">
        <path d="M515.191 0V25.3848C515.191 32.2228 512.485 38.7807 507.667 43.6164C502.849 48.4521 496.314 51.1695 489.5 51.171H26.6912C19.8809 51.1726 13.3498 53.8868 8.53259 58.7175C3.7154 63.5481 1.00614 70.1001 1 76.934V185" stroke="#D8D8EB" stroke-miterlimit="10"/>
      </svg>
      </div>
    </div>
  </div>
  {% endif %}