.customers-temp-wrapper {
  width: 100%;
  position: relative;
}
.customers-temp-wrapper .customers-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  position: absolute;
  top: 70px;
  right: 5%;
  width: 240px;
  height: 188px;
}
.customers-temp-wrapper .content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 80px 30px 100px;
}
.customers-temp-wrapper.decorated-line .content-wrapper {
  padding: 80px 30px 0;
}
.customers-temp-wrapper.decorated-line .content-wrapper:after{
  position: absolute;
  content: "";
  background: #d8d8eb;
  width: 1px;
  height: 80px;
  left: 29px;
  top: 0px;
}
.customers-temp-wrapper .product-customers-row {
  position: relative;
  width: 100%;
  padding: 0;
}
.customers-temp-wrapper.decorated-line .product-customers-row { 
  padding: 75px 0 0;
}
.customers-temp-wrapper .feature-item {
  position: relative;
  flex-basis: 32%;
  box-sizing: border-box;
  border: 1px solid #494949;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  border: 1px solid #D8D8EB;
  backdrop-filter: blur(9px);
  border-radius: 21px;
  background: rgba(255, 255, 255, 0.6);
}
.customers-temp-wrapper.decorated-line .product-customers-row:before {
  border: 1px solid #d8d8eb;
  border-radius: 0 0 0 24px;
  border-right: none;
  border-top: none;
  content: "";
  height: 68px;
  left: -1px;
  position: absolute;
  top: -33px;
  width: 50px;
}
.customers-temp-wrapper.decorated-line .feature-item:not(:last-child):before {
  position: absolute;
  content: "";
  top: -42px;
  width: 100%;
  height: 1px;
  background: #d8d8eb;
  left: 60px;
}
.customers-temp-wrapper.decorated-line .feature-item:after {
  border: 1px solid #d8d8eb;
  border-bottom: none;
  border-left: none;
  border-radius: 0 24px 0 0;
  content: "";
  height: 42px;
  left: 20px;
  position: absolute;
  top: -42px;
  width: 50%;
}
.customers-temp-wrapper:not(.decorated-line) .footer-narrow {
  display: none;
}
.customers-temp-wrapper .feature-item:nth-child(3):after{
  left: -70px;
}
.customers-temp-wrapper .feature-item .photo-box {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.customers-temp-wrapper .feature-item .photo-box  img {
  width: 100%;
}
.customers-temp-wrapper .feature-item .intro-box {
  margin-left: 20px;
}

.customers-temp-wrapper .feature-item .feature-item-content {
  position: relative;
  z-index: 2;
  height: 100%;
}
.customers-temp-wrapper .feature-item .feature-item-top {
  padding: 47px 36px 20px;
}
.customers-temp-wrapper .feature-item p.name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.customers-temp-wrapper .feature-item p.brife {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}
.customers-temp-wrapper .feature-item .content {
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 32px;
  padding: 32px 40px 36px;
}
.customers-temp-wrapper .feature-item .content-bg {
  position: absolute;
  top: 0;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 0 0 21px 21px;
  z-index: 0;
}
.customers-temp-wrapper .feature-item .content-main {
  position: relative;
  z-index: 1;
  height: 100%;
}
.customers-temp-wrapper .feature-item .content-text {
  flex: 1;
}
.customers-temp-wrapper .feature-item .item-icon {
  position: absolute;
  bottom: -30px;
  right: 40px;
  z-index: 2;
  width: 91px;
}
.customers-temp-wrapper .feature-item .customers-buttons {
  margin-top: 27px;
}
.customers-temp-wrapper .feature-item .button {
  padding: 0 28px 0 20px;
}

@media(max-width: 1200px){
  .customers-temp-wrapper .feature-item .feature-item-top {
    padding: 40px 26px 20px;
  }
  .customers-temp-wrapper .feature-item .photo-box {
    width: 80px;
    height: 80px;
  }
  .customers-temp-wrapper .feature-item p.name {
    font-size: 20px;
  }
  .customers-temp-wrapper .feature-item p.brife {
    font-size: 16px;
  }
  .customers-temp-wrapper .feature-item .button {
    font-size: 16px;
  }


}
@media(max-width: 900px){
  .customers-temp-wrapper .content-wrapper {
    padding: 10px 30px 0;
  }
  .customers-temp-wrapper {
    height: auto;
    padding: 2rem 0;
  }
  .customers-temp-wrapper .content-wrapper:after, .customers-temp-wrapper .product-customers-row:before, .customers-temp-wrapper .feature-item:not(:last-child):before ,.customers-temp-wrapper .feature-item:after, .customers-temp-wrapper .footer-narrow {
    display: none;
  }
  .customers-temp-wrapper .customers-bg {
    height: 100px;
    left: auto;
    top: 110px;
    right: 20px;
    transform: none;
    width: 100px;
  }
  .customers-temp-wrapper .product-customers-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  .customers-temp-wrapper .feature-item {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .customers-temp-wrapper .feature-item .photo-box {
    width: 70px;
    height: 70px;
  }
  .customers-temp-wrapper .feature-item p.name{
    font-size: 16px;
  }
  .customers-temp-wrapper .feature-item p.brife{
    font-size: 14px;
    margin-top: 4px;
    line-height: 26px;
  }
  .customers-temp-wrapper .feature-item .content-text {
    font-size: 14px;
    line-height: 24px;
    min-height: auto;
  }
  .customers-temp-wrapper .button {
    font-size: 14px;
  }
  .customers-temp-wrapper .feature-item .item-icon {
    width: 70px;
  }
}
