.feature-temp-wrap {
  width: 100%;
  position: relative;
}
.feature-temp-wrap .content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
}
.feature-temp-wrap .content-wrapper:after {
  position: absolute;
  content: '';
  top:0;
  left: 29px;
  width: 1px;
  height: 100%;
  z-index: 0;
  background-color: #D8D8EB;
}
.feature-temp-wrap .content-wrapper  .feature-top-wrap {
  width: 100%;
}
.feature-temp-wrap p.sec-title {
  position: relative;
  flex: 1;
}
.feature-temp-wrap p.sec-content{
  padding-left: 50px;
}
.feature-temp-wrap .feature-lists {
  height: auto;
  width: 100%;
  padding: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feature-temp-wrap .feature-item {
  position: relative;
  padding: 50px 60px;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  align-items: flex-start;
  min-height: 230px;
  box-sizing: border-box;
  color: #000;
  border-top: 1px solid transparent;
}
.feature-temp-wrap .feature-item:nth-child(odd) {
  border-top-color: #D8D8EB;
}
.feature-temp-wrap .feature-item:nth-child(odd):before{
  position: absolute;
  content: '';
  width: 40px;
  height: 54px;
  border: 1px solid #D8D8EB;
  border-right: none;
  border-top: none;
  top: -54px;
  left: -31px;
  border-radius: 0 0 0 30px;
}
/* .three_column.feature-temp-wrap .feature-item:nth-child(3n+1):not(:last-child), .three_column.feature-temp-wrap .feature-item:nth-child(3n+2):not(:last-child) {
  border-top-color: #D8D8EB;
}
.three_column.feature-temp-wrap .feature-item:nth-child(3n+1):before{
  position: absolute;
  content: '';
  width: 40px;
  height: 54px;
  border: 1px solid #D8D8EB;
  border-right: none;
  border-top: none;
  top: -54px;
  left: -31px;
  border-radius: 0 0 0 30px;
} */
.feature-temp-wrap .feature-item:after {
  position: absolute;
  content: '';
  width: 140px;
  height: 51px;
  border: 1px solid #D8D8EB;
  border-left: none;
  border-bottom: none;
  top: -1px;
  left: 0;
  border-radius: 0 30px 0 0;
}
.feature-temp-wrap .feature-item .item-icon-box {
  width: 120px;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #D8D8EB;
  box-shadow: 0px 4px 6px rgba(169, 189, 219, 0.25);
  border-radius: 24px;
  padding: 7.5px;
  flex-shrink: 0;
  margin-bottom: 20px;
}
.feature-temp-wrap .feature-item .item-icon-box .item-icon-inner-box {
  background: linear-gradient(109.53deg, #DFECFF 0%, #D6FBFF 91.18%);
  border-radius: 20px;
  flex:1; 
}
.feature-temp-wrap .feature-item img.item-icon{
  max-width: 80%;
  max-height: 80%;
}
.feature-temp-wrap .feature-item .card{
  padding-left: 30px;
}
.feature-temp-wrap .feature-item p.sub-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 24px;
}
.feature-temp-wrap .feature-item p.desc {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}
.feature-temp-wrap .feature-temp-buttons {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 50px;
}
.feature-temp-wrap .feature-btn {
  padding: 0;
  display: flex;
}
.feature-temp-wrap .feature-btn a {
  font-size: 20px;
  text-align: center;
  min-width: 200px;
  padding: 0 20px;
}
.feature-temp-wrap .feature-btn:not(:last-child) {
  margin-right: 32px;
}
.feature-temp-wrap .feature-btn{
  margin-top: 30px;
}

/* .feature-temp-wrap.three_column .top-card{
  align-items: flex-start;
}
.feature-temp-wrap.three_column .feature-lists {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.feature-temp-wrap.three_column .feature-item {
  -ms-flex-preferred-size: 33.3%;
  flex-basis: 33.3%;
  min-height: 300px;
}
.feature-temp-wrap.three_column .feature-item  p.sub-title {
  padding-left: 20px;
}
.feature-temp-wrap.three_column .feature-item  p.desc {
 margin-top: 22px;
} */

@media (max-width: 1200px){
  .feature-temp-wrap .feature-item {
    padding: 50px 0 50px 60px;
  }

}
@media (max-width: 900px){
  .feature-temp-wrap {
    height: auto;
    padding: 2rem 0;
  }
  .feature-temp-wrap .content-wrapper:after {
    display: none;
  }
  .feature-temp-wrap .content-wrapper {
    text-align: center;
  }
  .feature-temp-wrap .feature-lists {
    height: auto;
    width: 100%;
    padding: 0;
  }
  .feature-temp-wrap .feature-item{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none !important;
    min-height: auto;
    padding: 20px 0;
  }
  .feature-temp-wrap .feature-item::before, .feature-temp-wrap .feature-item::after{
    display: none !important;
  }
  .feature-temp-wrap .feature-item .item-icon-box { 
    width: 120px;
    height: 120px;
  }
  .feature-temp-wrap .feature-item p.sub-title {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .feature-temp-wrap .feature-item .card{
    padding: 0;
    width: 100%;
  }
  .feature-temp-wrap .feature-item  p.desc {
    font-size: 14px;
    line-height: 1.4rem;
    height: auto;
    width: 100%;
  }
  .feature-temp-wrap .feature-temp-buttons {
    justify-content: center;
    margin: 0;
  }
  .feature-temp-wrap .feature-btn {
    margin: 20px 10px 0!important;
  }
  .feature-temp-wrap .feature-btn a {
    font-size: 16px;
    min-width: auto;
  }
  /* .feature-temp-wrap.three_column .feature-item {
    padding: 1rem 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 1rem;
    min-height: 240px;
  }
  .feature-temp-wrap.three_column .top-card{
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .feature-temp-wrap.three_column .feature-item p.sub-title {
    line-height: 20px;
    padding-top: 5px;
    padding-left: 0;
  } */
}









