.success-story-wrapper {
  width: 100%;
  position: relative;
  background: #F5F5FB;
}
.success-story-wrapper .content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 80px 30px;
}
.success-story-wrapper .success-story-row {
  width: 100%;
  padding: 62px 0 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.success-story-wrapper .story-item {
  position: relative;
  flex-basis: 32%;
  max-width: 450px;
  box-sizing: border-box;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  background: #fff;
  -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
  transition: all .3s cubic-bezier(.25,.8,.5,1);
}
.success-story-wrapper .story-item:hover {
  box-shadow: 0px 0px 36px rgba(90, 100, 126, 0.3);
  -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
  transition: all .3s cubic-bezier(.25,.8,.5,1);
}
.success-story-wrapper .story-item .video-box {
  width: 100%;
}
.success-story-wrapper .story-item .video-box video {
  max-width: 100%;
  width: 100%;
}
.success-story-wrapper .story-item img{
  width: 100%;
  max-height: 255px;
}
.success-story-wrapper .story-item .story-item-content {
  position: relative;
  padding: 34px 36px;
  color: #000000;
}
.success-story-wrapper .story-item p.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.success-story-wrapper .story-item div.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 14px 0 0;
}

@media(max-width: 768px){
  .success-story-wrapper {
    height: auto;
    padding: 2rem 0;
  }
  .success-story-wrapper .content-wrapper {
    width: 90%;
    padding: 1rem 0;
  }
  .success-story-wrapper .success-story-row  {
    padding: 20px 0;
  }
  .success-story-wrapper .story-item {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .success-story-wrapper .story-item .story-item-content {
    padding: 18px 24px 30px;
  }
  .success-story-wrapper .story-item p.title{
    height: auto;
    font-size: 16px;
  }
  .success-story-wrapper .story-item div.content{
    height: auto;
    font-size: 14px;
    margin-top: 10px;
    line-height: 26px;
  }
}

