.product-performance {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.product-performance .content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 70px 30px;
}
.product-performance .title-left-wrap {
  max-width: 1130px;
}
.product-performance.card .content-wrapper {
  padding: 46px 30px;
}
.product-performance .performance-row {
  width: 100%;
  padding: 60px 0 0 ;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product-performance.normal .sec-title,.product-performance.normal .sec-content{
  text-align: center;
}
.product-performance.card .performance-row {
  padding: 0;
}
.product-performance .performance-item {
  position: relative;
  box-sizing: border-box;
  position: relative;
  border-radius: 24px;
  background: #fff;
  -webkit-transition: all .5s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .5s cubic-bezier(.25,.8,.5,1);
  transition: all .5s cubic-bezier(.25,.8,.5,1);
  /* padding: 40px 50px 20px; */
  /* padding: 30px 33px 50px; */
  padding: 15px 30px 28px;
  color: #000;
  margin-bottom: 20px;
}
.product-performance .performance-item .burger {
  position: absolute;
  top: 68px;
  right: 10%;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
/* .product-performance .performance-item .burger .top-line, .product-performance .performance-item .burger .bottom-line {
  background-color: #65DAFF;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
  transition: all .3s cubic-bezier(.25,.8,.5,1);
}
.product-performance .performance-item .burger .bottom-line  {
  transform: rotate(-45deg);
}
.product-performance .performance-item.fold .burger .top-line, .product-performance .performance-item.fold .burger .bottom-line {
  transform: rotate(0deg);
  -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
  transition: all .3s cubic-bezier(.25,.8,.5,1);
} */
.product-performance .performance-item.fold .burger .bottom-line {
  transform: rotate(-90deg);
}

.product-performance .two_column .performance-item {
  flex-basis: 49.3%;
}
.product-performance .three_column .performance-item {
  flex-basis: 32.5%;
}
.product-performance .four_column .performance-item {
  flex-basis: 24%;
}
.product-performance .performance-row.no-gap .performance-item {
  border-radius: 0;
  margin-bottom: 0;
}
.product-performance .two_column.no-gap .performance-item {
  flex-basis: 50%;
}
.product-performance .three_column.no-gap .performance-item {
  flex-basis: 33.33%;
}
.product-performance .four_column.no-gap .performance-item {
  flex-basis: 25%;
}
.product-performance .performance-item.performance-item-title-card {
  padding: 0;
  max-width: 515px;
}
.product-performance .performance-item p.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.product-performance .performance-item div.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 14px 0 0;
  overflow: hidden;
  max-height: 1000px;
}
.product-performance .performance-item  .buttons-wrap .button{
  margin: 16px 10px 0;
}
.product-performance .performance-item  .buttons-wrap .button a{
  padding: 0 14px;
}
.product-performance.feature-can-fold  .performance-item div.content .mask {
  width: 100%;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(0deg, #f5f5fa -10%, rgba(255, 255, 255, 0) 200%);
  -webkit-transition: background-image .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: background-image .3s cubic-bezier(.25,.8,.5,1);
  transition: background-image .3s cubic-bezier(.25,.8,.5,1);
  z-index: 1;
}
.product-performance.feature-can-fold  .performance-item div.content .mask svg {
  position: absolute;
  left: 50%;
  bottom: 10px;
  height: 24px;
  transform: translateX(-50%);
  -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
  transition: all .3s cubic-bezier(.25,.8,.5,1);
}
/* .product-performance.feature-can-fold  .performance-item div.content .mask .top-line, .product-performance.feature-can-fold  .performance-item div.content .mask .bottom-line {
  width: 26px;
  height: 26px;
  position: absolute;
  content: '';
  left: 50%;
  bottom: 46px;
  transform: translateX(-50%) rotate(-45deg);
  border: 2.5px solid transparent;
  border-left-color: #65DAFF;
  border-bottom-color: #65DAFF;
  z-index: 2;
  opacity: 1;
  -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
  transition: all .3s cubic-bezier(.25,.8,.5,1);
}
.product-performance.feature-can-fold  .performance-item div.content .mask .bottom-line {
  bottom: 35px;
} */
.product-performance.feature-can-fold .performance-item.fold div.content {
  position: relative;
  max-height: 142px;
  -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
  transition: all .3s cubic-bezier(.25,.8,.5,1);
}
.product-performance.feature-can-fold .performance-item.fold div.content:hover {
  max-height: 1000px;
  -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
  transition: all .3s cubic-bezier(.25,.8,.5,1);
}
.product-performance.feature-can-fold .performance-item.fold div.content:hover .mask {
  height: 0;
  background-image: none !important;
  -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
  transition: all .3s cubic-bezier(.25,.8,.5,1);
}
.product-performance.feature-can-fold  .performance-item div.content:hover .mask svg {
  opacity: 0;
  height: 0;
  -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
  transition: all .3s cubic-bezier(.25,.8,.5,1);
}
.product-performance .performance-item div.content a{
  color: #000000;
  text-decoration: underline;
}
.product-performance .performance-item-content {
  height: 100%;
}
.product-performance .performance-item-content.item-center-theme p.title {
  max-width: 90%;
  text-align: center;
}
.product-performance .performance-item-content .more-mt {
  margin-top: 20px;
}
.product-performance .performance-item-content .item-img-box {
  height: 120px;
}
.product-performance .performance-item img{
  max-width: 76px;
  max-height: 100px;
  margin: 0 0 0 10px;
}
.product-performance .performance-item .big-icon {
  align-items: center;
}
.product-performance .performance-item .big-icon img{
  max-width: none;
  max-height: none;
  width: 70%;
  height: auto;
}

.product-performance.feature-hover-effect-area .performance-item {
  position: relative;
  -webkit-transition: all .5s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .5s cubic-bezier(.25,.8,.5,1);
  transition: all .5s cubic-bezier(.25,.8,.5,1);
  padding: 40px 33px 80px;
  overflow: hidden;
}
.product-performance.feature-hover-effect-area .performance-item:after{
  position: absolute;
  content: '';
  width: 116px;
  height: 76px;
  bottom: -80px;
  right: 5px;
  opacity: 0;
  -webkit-transition: all .5s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .5s cubic-bezier(.25,.8,.5,1);
  transition: all .5s cubic-bezier(.25,.8,.5,1);
}
.product-performance.feature-hover-effect-area .performance-item .performance-item-content {
  -webkit-transition: all .5s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .5s cubic-bezier(.25,.8,.5,1);
  transition: all .5s cubic-bezier(.25,.8,.5,1);
}
.product-performance.feature-hover-effect-area .performance-item:hover .performance-item-content {
  transform: translateY(-10px);
  -webkit-transition: all .5s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .5s cubic-bezier(.25,.8,.5,1);
  transition: all .5s cubic-bezier(.25,.8,.5,1);
}
.product-performance.feature-hover-effect-area .performance-item:hover {
  background: #0061FF !important;
  color: #fff;
  filter: drop-shadow(0px 0px 24px rgba(13, 44, 123, 0.35));
  -webkit-transition: all .5s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .5s cubic-bezier(.25,.8,.5,1);
  transition: all .5s cubic-bezier(.25,.8,.5,1);
}

.product-performance.feature-hover-effect-area .performance-item:hover:after{
  bottom: 4px;
  opacity: 1;
  -webkit-transition: all .5s cubic-bezier(.25,.8,.5,1);
  -o-transition: all .5s cubic-bezier(.25,.8,.5,1);
  transition: all .5s cubic-bezier(.25,.8,.5,1);
}
.product-performance.feature-hover-effect-area .performance-item img {
  width: 50px;
  margin: 0;
}

@media(max-width: 768px){
  .product-performance {
    height: auto;
  }
  .product-performance .content-wrapper , .product-performance.card .content-wrapper {
    width: 90%;
    padding: 30px 0;
  }
  .product-performance .performance-row  {
    padding: 20px 0;
  }
  .product-performance .performance-item {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    max-width: 100%;
    padding: 26px 26px 22px;
    margin-bottom: 20px;
  }
  .product-performance .performance-row.no-gap .performance-item {
    margin-bottom: 20px;
  }
  .product-performance .performance-item p.title{
    height: auto;
    font-size: 16px;
  }
  .product-performance .performance-item img {
    margin: 0 0 0 8px;
  }
  .product-performance .performance-item div.content{
    height: auto;
    font-size: 14px;
    margin-top: 10px;
    line-height: 26px;
  }
  .product-performance .performance-item .burger {
  }
}

