.text-temp-wrap  {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.text-temp-wrap .content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 50px 30px;
}
.text-temp-wrap.one_column_left .text-temp-box {
  max-width: 1100px;
}
.text-temp-wrap.two_column .sec-content {
  flex-basis: 48%;
}
.text-temp-wrap.two_column_card .sec-content {
  flex-basis: 48%;
  max-width: 720px;
  background: #1539BA;
  border-radius: 16px;
  color: #fff;
  padding: 55px 20px;
}

.text-temp-wrap .sec-content ul {
  margin: 0;
  padding-left: 100px;
}
.text-temp-wrap .sec-content ul li {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
  list-style: none;
}
.text-temp-wrap .sec-content ul li:before {
  background-color: #65DAFF;
  border-radius: 50%;
  content: "";
  height: 24px;
  left: -47px;
  position: absolute;
  top: 2px;
  width: 24px;
}
.text-temp-wrap .sec-content ul li:after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  content: "";
  height: 6px;
  left: -38px;
  position: absolute;
  top: 13px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
  width: 10px;
}
.text-temp-wrap .sec-content h1, .text-temp-wrap .sec-content h2, .text-temp-wrap .sec-content h3{
  font-weight: 700;
  font-size: 48px !important;
  line-height: 58px;
  margin-bottom: 20px;
}
.text-temp-wrap .sec-content h1 {
  font-size: 52px !important;
}
.text-temp-wrap .sec-content h3{
  font-size: 46px !important;
}
.text-temp-wrap .sec-content h4, .text-temp-wrap .sec-content h5, .text-temp-wrap .sec-content h6 {
  font-weight: 700;
  font-size: 36px !important;
  line-height: 50px;
  margin-bottom: 16px;
}
.text-temp-wrap .sec-content h5 {
  font-size: 32px !important;
}
.text-temp-wrap .sec-content h6 {
  font-size: 28px !important;
}
.text-temp-wrap.two_column_card .sec-content h1, .text-temp-wrap.two_column_card .sec-content h2, .text-temp-wrap.two_column_card .sec-content h3, .text-temp-wrap.two_column_card .sec-content h4, .text-temp-wrap.two_column_card .sec-content h5, .text-temp-wrap.two_column_card .sec-content h6 {
  color: #fff;
}
.text-temp-wrap  .performance-item p.content a{
  color: #000000;
  text-decoration: underline;
}
@media (max-width: 1500px){
  .text-temp-wrap .sec-content h1, .text-temp-wrap .sec-content h2, .text-temp-wrap .sec-content h3{
    font-size: 40px !important;
  }
  .text-temp-wrap .sec-content h1 {
    font-size: 44px !important;
  }
  .text-temp-wrap .sec-content h3{
    font-size: 38px !important;
  }
  .text-temp-wrap .sec-content h4, .text-temp-wrap .sec-content h5, .text-temp-wrap .sec-content h6 {
    font-size: 28px !important;
  }
  .text-temp-wrap .sec-content h5 {
    font-size: 24px !important;
  }
  .text-temp-wrap .sec-content h6 {
    font-size: 20px !important;
  }
}
@media (max-width: 1200px){
  .text-temp-wrap .sec-content h1, .text-temp-wrap .sec-content h2, .text-temp-wrap .sec-content h3{
    font-size: 30px !important;
    line-height: 42px;
  }
  .text-temp-wrap .sec-content h1 {
    font-size: 36px !important;
  }
  .text-temp-wrap .sec-content h3{
    font-size: 28px !important;
  }
  .text-temp-wrap .sec-content h4, .text-temp-wrap .sec-content h5, .text-temp-wrap .sec-content h6 {
    font-size: 24px !important;
    line-height: 32px;
  }
  .text-temp-wrap .sec-content h5 {
    font-size: 20px !important;
  }
  .text-temp-wrap .sec-content h6 {
    font-size: 16px !important;
  }
}
@media (max-width: 767px){
  .text-temp-wrap .sec-content {
    text-align: left;
  }
  .text-temp-wrap .sec-content h1, .text-temp-wrap .sec-content h2, .text-temp-wrap .sec-content h3{
    font-size: 24px !important;
    line-height: 36px;
  }
  .text-temp-wrap .sec-content h1 {
    font-size: 28px !important;
  }
  .text-temp-wrap .sec-content h3{
    font-size: 22px !important;
  }
  .text-temp-wrap .sec-content h4, .text-temp-wrap .sec-content h5, .text-temp-wrap .sec-content h6 {
    font-size: 20px !important;
    line-height: 32px;
  }
  .text-temp-wrap .sec-content h5 {
    font-size: 18px !important;
  }
  .text-temp-wrap .sec-content h6 {
    font-size: 15px !important;
  }
  .text-temp-wrap .text-temp-contanier {
    flex-wrap: wrap;
  }
  .text-temp-wrap.two_column .sec-content {
    flex-basis: 100%;
  }
  .text-temp-wrap.two_column_card .sec-content {
    flex-basis: 100%;
    padding: 46px 36px;
  }
  .text-temp-wrap .sec-content ul li {
    font-size: 15px;
  }
}