.about-us-news {
  width: 100%;
  padding: 60px 0 90px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-news .title {
  font-size: 48px;
  font-weight: 700;
}

.about-us-news .news-container {
  max-width: 1580px;
  padding: 0 30px;
  widthï¼š 100%;
  margin: 90px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 25px;
}

.about-us-news .news-card {
  border-radius: 24px;
  border: 1px solid #D4D4EA;
  background: #FFF;
}

.about-us-news .news-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.about-us-news .news-info {
  display: flex;
  flex-direction: column;
  height: 230px;
  padding: 24px;
}

.about-us-news .news-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.about-us-news .news-bottom {
  display: flex;
  justify-content: space-between;
}

.about-us-news .news-bottom-left {
  display: flex;
  flex-direction: column;
}

.about-us-news .news-bottom-left .author{
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.about-us-news .news-bottom-left .date{
  color: #666;
  font-size: 12px;
  line-height: 24px;
}

.about-us-news .news-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  border-radius: 27px;
  border: 1px solid #65DAFF;
  background: #FFF;
}

@media(max-width: 1197px){
  .about-us-news .news-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px 25px;
  }
}
@media(max-width: 767px){

}