.content-wrapper, .page-center {
  margin: 0 auto;
  padding: 0 30px;
}
.body-wrapper [class*="force-full-width-section"], 
.body-wrapper [class*="force-full-width-section"]>.row-fluid {
  padding: 0;
}
body.noBanner {
  padding-top: 60px;
}


body {
  padding-top: 70px;
}
@media(max-width: 767px){
  body {
    padding-top: 50px !important;
  }
}






