.industry-cards-wrapper {
  width: 100%;
  padding: 0 0 50px 0;
}

.industry-cards-wrapper .industry-cards-container {
  max-width: 1582px;
  margin: -50px auto 0 ;
  background-color: #f5f5fb;
  border: 1px solid #d8d8eb;
  padding:  33px 29px;
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.industry-cards-wrapper  .industry-cards-row {
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  justify-content: space-between;
  min-width: 22%;
}

.industry-cards-wrapper  .industry-card {
  background: white;
  border-radius: 8px;
  padding: 40px 34px 48px;
  flex: 1;
  max-width: 363px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 24px 0px rgba(90, 100, 126, 0.1);
  transition: box-shadow 0.3s ease;
}

.industry-cards-wrapper  .industry-card:hover {
  box-shadow: 0px 0px 24px 0px rgba(90, 100, 126, 0.3);
}

.industry-cards-wrapper  .card-logo {
  width:100%;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #dbdbeb;
  justify-content: center;
  padding-bottom: 24px;
}

.industry-cards-wrapper .card-logo img {
  max-width: 200px;
  height: 60px;
  object-fit: contain;
}

.industry-cards-wrapper  .card-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  color: #000;
  text-align: center;
  margin: 30px 0 20px;
}

.industry-cards-wrapper  .card-content {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin: 0 0 40px 0;
  flex: 1;
  white-space: pre-wrap;
}

.industry-cards-wrapper  .card-button-wrap {
  margin-top: auto;
}

.industry-cards-wrapper  .card-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: white;
  border: 1px solid #65daff;
  border-radius: 27px;
  padding: 0px 30px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.industry-cards-wrapper  .card-button:hover {
  background: #F0FBFF;
  color: #000;
}

.industry-cards-wrapper  .card-button svg {
  flex-shrink: 0;
}


@media (max-width: 1200px) {
  .industry-cards-wrapper  .industry-cards-row {
    justify-content: center;
    gap: 18px;
  }
  
  .industry-cards-wrapper  .industry-card   {
    max-width: calc(50% - 15px);
    min-width: 40%;
  }
}

@media (max-width: 767px) {
    .industry-cards-wrapper{
        padding:0;
    }
   .industry-cards-wrapper .industry-cards-container  {
    padding: 20px 15px;
    border: none;
    border-radius: 0;
    margin-top: 0;
   }
  
  .industry-cards-wrapper .industry-cards-row {
    flex-direction: column;
    gap: 20px;
  }
  
  .industry-cards-wrapper .industry-card {
    max-width: 100%;
    padding: 32px 24px;
  }
  .industry-cards-wrapper .card-logo {
    padding-bottom: 16px;
  }
  
  .industry-cards-wrapper .card-logo img {
    height: 46px;
  }
  .industry-cards-wrapper .card-title {
    font-size: 20px;
  }
  
  .industry-cards-wrapper .card-content {
    font-size: 14px;
    line-height: 22px;
  }
  
  .industry-cards-wrapper .card-button {
    padding: 0 24px;
  }
}

