.about-us-powered-by {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-powered-by .title {
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.about-us-powered-by .content {
  display: inline-block;
  margin-top: 25px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 20px;
}

.about-us-powered-by .imgs {
  margin-top: 32px;
}

.about-us-powered-by .img-wrapper {
  width: 462px;
  height: 360px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #DCDBDC;
  background: #FFF;
  justify-content: center;
  align-items: center;
}
.about-us-powered-by .img-wrapper.left img {
  width: 370px;
  height: auto;
}
.about-us-powered-by .img-wrapper.contributors-avatar {
  margin-left: 20px;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 6px;
}
.about-us-powered-by .img-wrapper.contributors-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media(max-width: 1197px){
  .about-us-powered-by {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .about-us-powered-by .img-wrapper {
    width: 308px;
    height: 240px;
  }
  
  .about-us-powered-by .img-wrapper.left img {
    width: 246px;
  }
}
@media(max-width: 767px){
  .about-us-powered-by .imgs {
    flex-direction: column;
    align-items: center;
  }
  .about-us-powered-by .img-wrapper.contributors-avatar {
    margin-left: 0;
    margin-top: 20px;
  }
}