/* Error pages */

.widget-type-email_simple_subscription,
.hs_cos_wrapper_type_member_login,
.hs_cos_wrapper_type_member_register,
.hs_cos_wrapper_type_password_reset_request,
.hs_cos_wrapper_type_password_reset,
.widget-type-password_prompt{
  width: 50%;
  display: block;
}
.error-page {
  padding: 10rem 0;
  text-align: center;
  position: relative;
}
/* .error-page:before {
  content: attr(data-error);
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: {{ secondary_font_family }};
  font-size: 40vw;
  font-weight: bold;
  color: #eaebed;
  z-index: -1;
} */
.error-page .error-page-content {
  padding: 50px 0;
}
.error-page  .error-page-content {
  font-size: 20px;
  line-height: 32px;
}
.error-page  .error-page-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 87px;
  margin-bottom: 30px;
}
.error-page .button {
  border-radius: 8px;
  margin-top: 30px;
}
.systems-page .hs-form-field {
  margin: 0 0 15px;
}
ul.no-list.hs-error-msgs {
  padding: 0;
  margin: 0;
}
p.header {
  position: static;
  background: transparent !important;
}
@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}
.error-page_heading {
  margin-bottom: 1rem;
}

.systems-page {
  padding: 4rem 0;
}
#hs-pwd-widget-password {
  width: 100%;
  height: 40px !important;
  outline: none;
}
.systems-page .success {
  display: inline-block;
  margin: 2rem 0;
  min-width: unset;
  background-color: #CDE3CC;
  border: 1.5px solid #4F7D24;
  border-radius: 6px;
  color: #4F7D24;
  padding: 5px 10px;
}

.hs-search-results {
  margin-top: 2rem;
}
ul.hs-search-results__listing li {
  margin-bottom: 2rem;
}
.hs-search-results__title {
  font-family: {{ headings_font_family }};
  font-size: 1.25rem;
  color: {{ body_color }};
  text-decoration: underline;
  margin-bottom: .25rem;
}
.hs-search-results__title:hover {
  text-decoration: none;
}
.hs-search-results__description {
  padding-top: .5rem;
}
.hs-search-highlight {
  font-weight: bold;
}
.hs-search-results__pagination a {
  color: {{ body_color }};
}

.email-prefs .item.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.email-prefs .item.disabled input:disabled {
  cursor: not-allowed;
}
.systems-page input.hs-button.primary.large {
  margin: 15px 0;
}
@media(max-width: 767px){
  .error-page_heading,
  .systems-page h1{
    font-size: 30.6px;
  }
  .systems-page h2 {
    font-size: 22.3px;
  }
  .widget-type-email_simple_subscription,
  .hs_cos_wrapper_type_member_login,
  .hs_cos_wrapper_type_member_register,
  .hs_cos_wrapper_type_password_reset_request,
  .hs_cos_wrapper_type_password_reset,
  .widget-type-password_prompt{
    width: 100%;
    display: block;
  }
} 