.body-wrapper {
  width: 100%;
  overflow-x: hidden;
}
/*********************************************  Common Page ***********************************************/
div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-en-cookie-confirmation-buttons-area a#hs-eu-confirmation-button {
  background-color: #0061ff !important;
  border: 1px solid #0061ff !important;
}
#hs_show_banner_button {
  display: none;
  background-color: #0061ff !important;
  border: 1px solid #0061ff !important;
}
div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-en-cookie-confirmation-buttons-area a#hs-eu-decline-button {
  border: 1px solid #0061ff!important;
  color: #0061ff;
}
.animation-bg-box {
  position: relative;
  background: linear-gradient(109.53deg, #F1FDFF 1.58%, #DFECFF 27.94%, #D6FDFF 53.24%, #DFECFF 76.96%, #F1EAFF 101.21%);
}
.animation-bg-box .content-wrapper {
  position: relative;
  z-index: 1;
}
.animation-bg-box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
  radial-gradient(closest-side, rgba(194, 215, 245, 1), rgba(194, 215, 245, 0)), 
  radial-gradient(closest-side, rgba(200, 252, 255, 1), rgba(200, 252, 255, 0)), 
  /* radial-gradient(closest-side, rgba(211, 188, 255, 1), rgba(211, 188, 255, 0)),  */
  radial-gradient(closest-side, rgba(219, 206, 245, 1), rgba(219, 206, 245, 0)),
  radial-gradient(closest-side, rgba(1, 218, 255, 1), rgba(1, 218, 255, 0)),
  radial-gradient(closest-side, rgba(211, 188, 255, 1), rgba(211, 188, 255, 0));
  /* radial-gradient(closest-side, rgba(184, 213, 255, 1), rgba(223, 236, 255, 0)); */
  /* background-size: 
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat; */
  background-repeat: no-repeat;
  background-position: -80vmax -80vmax,21vmax -62vmax,65vmax -12vmax,-14vmax -4vmax,50vmax 50vmax;
  background-size: 130vmax 130vmax,80vmax 80vmax,100vmax 90vmax,110vmax 110vmax,90vmax 90vmax;
  animation: 20s movement linear infinite;
  z-index: 0;
}
@keyframes movement {
  0%, 100% {
    background-position: -80vmax -80vmax,21vmax -62vmax,65vmax -12vmax,-14vmax -4vmax,50vmax 50vmax;
    background-size: 130vmax 130vmax,80vmax 80vmax,100vmax 90vmax,110vmax 110vmax,90vmax 90vmax;
  }
  20% {
    background-position: -45vmax -60vmax,21vmax -81vmax,33vmax -64vmax,32vmax 3vmax,50vmax 50vmax;
    background-size: 130vmax 130vmax,80vmax 80vmax,100vmax 100vmax,110vmax 110vmax;
  }
  40% {
    background-position: -9vmax -25vmax,8vmax -9vmax,-27vmax -51vmax,32vmax -55vmax,50vmax 50vmax;
    background-size: 127vmax 117vmax,80vmax 80vmax,76vmax 90vmax,86vmax 75vmax,90vmax 90vmax;
  }
  60% {
    background-position: 18vmax -56vmax,29vmax -38vmax,-15vmax -2vmax,-29vmax -59vmax,31vmax 8vmax;
    background-size: 79vmax 72vmax,80vmax 80vmax,100vmax 100vmax,86vmax 75vmax,90vmax 90vmax;
  }
  80% {
    background-position: 15vmax -56vmax,73vmax -38vmax,-12vmax -13vmax,-46vmax -23vmax,31vmax 8vmax;
    background-size: 79vmax 72vmax,80vmax 80vmax,100vmax 100vmax,86vmax 75vmax,90vmax 90vmax;
  }
}

.body-container-wrapper .sec-title {
  color: #000;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
.body-container-wrapper .sec-title-wrap .title-decorate{
  position: relative;
  z-index: 2;
  width: 48px;
  background-color: #fff;
  transform: translateX(-24px);
}
.body-container-wrapper .feature-top-wrap .sec-content{
  margin-left: 50px;
}
.body-container-wrapper .sec-title-wrap .title-decorate img {
  width: 30px;
  height: 30px;
}
.body-container-wrapper .sec-title-wrap .title-decorate.animate img {
  animation: 1.8s myScale linear 3;
}
@keyframes myScale{
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.6);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}
.body-container-wrapper .sec-content {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}
.body-container-wrapper .sec-title:empty{
  display: none;
  margin-top: 0;
}

@media (max-width: 1200px){
  .body-container-wrapper .sec-title {
    font-size: 30px;
    line-height: 42px;
  }
}
@media (max-width: 767px){
  .body-container-wrapper .sec-title {
    font-size: 24px;
    line-height: 36px;
    width: 100%;
    text-align: center;
  }
  .body-container-wrapper .sec-content {
    font-size: 14px;
    margin-top: 14px;
    text-align: center;
  }
  .body-container-wrapper .feature-top-wrap .sec-content{
    margin-left: 0;
  }
}
/*********************************************  Home Page ***********************************************/
.home-page .lighting-effect {
  position: fixed;
  left: 50%;
  top: 150px;
  transform: translateX(-769.5px);
  height: 50px;
  width: 2px;
  z-index: 3;
  background-image: linear-gradient(0deg, #95ECFF 0%, rgba(149, 236, 255, 0) 47.22%);
}
.home-video-are, .home-iso-area{
  position: relative;
  z-index: 5;
}
@media (max-width: 900px){
  .home-page .sec-title-wrap .title-decorate {
    display: none;
  }
}
/*********************************************  Product Page ***********************************************/
.product-page .product-performance.feature-hover-effect-area .performance-item:after{
  background: url({{ get_asset_url('../../images/bg-decoration.png') }}) no-repeat right bottom;
  background-size: contain;
}
/********************************************* Product Page End ***********************************************/
/********************************************* Solution Page ***********************************************/
.solution-page .page-banner .banner-content {
  max-width: 100%;
}
/********************************************* ***********************************************/
/********************************************* Protocol Page start  ***********************************************/
.protocol-page .mian-content{
  min-height: 200px;
  max-width: 1320px;
  width: 100%;
  margin: 20px auto;
  padding: 0 10px;
}
@media (max-width: 767px){
  .protocol-page .mian-content h1 {
    font-size: 44px !important;
  }
  .protocol-page .mian-content h2 {
    font-size: 32px !important;
  }
  .protocol-page .mian-content h3 {
    font-size: 26px !important;
  }
}

/********************************************* Protocol Page end ***********************************************/


.hs-col-flex, .hs-row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.hs-col-flex {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hs-jus-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hs-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hs-jus-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.hs-jus-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.hs-align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.hs-align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.hs-align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.hs-jus-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.hs-jus-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}




/************************************* HUBDB page *****************************************/



/************************************* Community page *****************************************/

.container-divider {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.container-divider {
  background-color: #e5e6e9;
  height: 1px;
  max-width: 1200px;
  margin: 0 auto
}
.comm-two-col .dnd-section{
  padding: 0;
}
.comm-two-col .dnd-section > .row-fluid {
  border-bottom: 1px solid #e5e6e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.comm-two-col .dnd-section .span9.dnd-column, 
.comm-two-col .dnd-section .span3.dnd-column {
  margin: 0;
  width: auto;
}
.comm-two-col .widget-type-linked_image img {
  height: 12rem !important;
  max-width: initial !important;
  vertical-align: middle;
}
.comm-two-col .widget-type-header h2 {
  margin: 0.5rem 0;
  font-size: 1.9rem;
  color: #222;
  font-weight: 500;
  padding: 0 1rem;
}
.comm-two-col .widget-type-rich_text p {
  margin: 0.5rem 0;
  max-width: 650px;
  color: #444;
  font-size: 1rem;
  line-height: 1.8rem;
  padding: 0 1rem;
  margin-top: 1rem;
  box-sizing: content-box;
}
.comm-two-col .dnd-section > .row-fluid:before,
.comm-two-col .dnd-section > .row-fluid:after {
  display: none;
}
.comm-two-col .widget-type-rich_text p a:hover {
  text-decoration: underline;
}
.hs-width-fill {
  width: 100%;
}
.hs-height-fill {
  height: 100%;
}


@media (max-width: 767px){
  .home-full-width-content .widget-type-header h2 {
    font-size: 1.8rem;
  }
  .home-full-width-content .widget-type-rich_text p {
    font-size: 1rem;
  }
  .home-full-width-content .widget-type-linked_image img {
    width: 100%;
  }
  .home-full-width-content .dnd-section > .row-fluid {
    width: 94%;
    padding: 0;
  }
 
  .comm-two-col .dnd-section > .row-fluid {
    width: 100%;
    height: auto;
    padding: 2rem 20px;
    flex-wrap: wrap;
  }
  .comm-two-col .widget-type-linked_image img {
    height: auto !important;
    width: 70%;
  }
  .comm-two-col .dnd-section .span3.dnd-column, .comm-two-col .dnd-section .span9.dnd-column {
    width: 100%;
  }
  .comm-two-col .dnd-module {
    display: block !important;
  }
  .comm-two-col .widget-type-linked_image {
    text-align: center;
  }
  .get_help_sec .widget-type-rich_text p span {
    width: 80%;
  }

}


@media all and (-ms-high-contrast:none) {
  body,html{
    overflow-x: hidden;
  }
  .image-with-content{
    height: 820px;
  }
  .tabber-wrap{
    width: 100%;
  }

}


/********************************************* End Home Page ***********************************************/





/***************** full-width-page ********************/

.full-width-content .dnd-section>.row-fluid {
  max-width: 840px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.full-width-content tr {
  background-color: #fafafa;
}
.full-width-content tr:first-child td {
  font-weight: 700;
}
.full-width-content tr td:first-child {
  border-right: 1px solid #e8e8e8;
  font-weight: 700;
}
.full-width-content tr td {
  color: #444;
}
.full-width-content tr td:last-child {
  border-left: 1px solid #e8e8e8;
}

.bottom-pane-content .dnd-section {
  padding: 0;
}
.bottom-pane-content .dnd-section>.row-fluid {
  max-width: 100% !important;
  padding: 0 !important;
}
.full-width-content a:hover {
  text-decoration: underline;
}
.full-width-content ol {
  list-style: auto inside none;
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
.full-width-content ol li {
  padding-top: 1rem;
}
.full-width-content ol li::marker {
  font-weight: 700;
}
.full-width-content ol ul {
  list-style: disc;
}
.full-width-content ol ul li {
  padding: 0;
}
.full-width-content h5 {
  font-size: 1.5rem;
  line-height: 2.1rem;
  padding: 0.6rem 0;
  color: #222;
  font-weight: 500;
  margin: 0.5rem 0;
}
.full-width-content h6 {
  color: #444;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 0 3rem;
  margin: 0.5rem 0;
  font-weight: normal;
}
.hs-producttrademarks table tr {
  background-color: transparent;
}
.hs-producttrademarks table tr:nth-child(2n) {
  background-color: #fafafa;
}
.full-width-content tr td:first-child,
.full-width-content tr:first-child td{
  font-weight: 700;
}
.full-width-content tr:first-child td:first-child {
  font-weight: 700;
}
.full-width-content tr td:first-child a {
  color: #338292;
  font-weight: 500;
}
.full-width-content tr td:first-child a:hover {
  text-decoration: none;
}
.full-width-content tr td p a {
  color: -webkit-link;
}



/***************** license-page ********************/

/***************** showcase-details-page ********************/


@media(max-width: 479px){
  .full-width-content p a {
    word-break: break-word;
  }
}

@media (max-width: 768px){
  .header-right, .header-right-content {
    display: none;
  }
  .active_wrap{
    padding: 1rem;
    max-width: auto;
    width: 96%;
  }
  .apply-dialog .hs-button.primary.large{
    margin-bottom: 1.5rem;
  }
  .apply-dialog .input{

    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
  }
  .apply-dialog form .hs-form-field>label{

    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
}









































