.footer-section {
  display: none;
}

.career-footer {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #0061FF;
}

.career-footer .content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  flex-wrap: wrap;
}

.career-footer .view-roles-btn {
  width: 15rem;
  margin-top: 2.5rem;
}

.career-footer .spaceman {
  height: 450px;
}

@media(max-width: 768px){
  .career-footer {
    height: auto;
  }

  .career-footer .content-wrapper {
    padding: 30px 20px;
  }

  .career-footer .view-roles-btn {
    width: 10rem;
    height: 2.2rem;
    border-radius: 1.1rem;
    margin-top: 2rem;
    font-size: 1rem;
  }

  .career-footer .view-roles-btn:hover {
    color: #333333;
  }

  .career-footer .spaceman {
    width: 90%;
    height: auto;
  }

  .career-footer .panel {
    flex-wrap: wrap-reverse;
  }

  .career-footer .intro {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }

  .career-footer .sec-title {
    text-align: center;
    line-height: 2rem !important;
  }

  .career-footer .sec-desc {
    text-align: center;
    line-height: 1.5rem !important;
    margin-top: 1rem;
  }
}

