.about-us-investors {
  width: 100%;
  padding: 50px 0 120px;
  background-color: #f5f5fb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-investors .title {
  font-size: 48px;
  font-weight: 700;
}

.about-us-investors .investors-container {
  max-width: 1440px;
  widthï¼š 100%;
  padding: 0 30px;
  margin: 90px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-us-investors .investors-container div {
  width: 400px;
  height: 120px;
  margin: 30px;
}

.about-us-investors .investors-container div img {
  width: 100%;
  height: 100%;
}

@media(max-width: 1197px){
  .about-us-investors .investors-container div {
    margin-left: 0;
    margin-right: 0;
  }
  
  .about-us-investors .investors-container {
    margin-top: 40px;
  }
}
@media(max-width: 767px){

}