.use-case-analytics-wrapper {
  width: 100%;
  padding: 77px 0;
  box-sizing: border-box;
}

.use-case-analytics-wrapper .use-case-analytics-container {
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
  padding: 0 135px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.use-case-analytics-wrapper .title-left-wrap {
  margin-bottom: 40px;
}

.use-case-analytics-wrapper .use-case-analytics-columns {
  display: flex;
  gap: 54px;
  align-items: flex-start;
}

.use-case-analytics-wrapper .use-case-analytics-column {
  flex: 1;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(18px);
  border: 1px solid #d8d8eb;
  border-radius: 24px;
  padding: 41px 37px;
  box-sizing: border-box;
}

.use-case-analytics-wrapper .use-case-analytics-items {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.use-case-analytics-wrapper .use-case-analytics-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.use-case-analytics-wrapper .use-case-analytics-item-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.use-case-analytics-wrapper .use-case-analytics-item-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.use-case-analytics-wrapper .use-case-analytics-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

@media (max-width: 1400px) {
  .use-case-analytics-wrapper .use-case-analytics-container {
    padding: 0 60px;
  }
  
  .use-case-analytics-wrapper .use-case-analytics-columns {
    gap: 40px;
  }
  .use-case-analytics-wrapper .use-case-analytics-column{
    padding: 20px 28px;
  }
  .use-case-analytics-wrapper .use-case-analytics-items {
    gap: 14px;
  }
  .use-case-analytics-wrapper .use-case-analytics-item-text {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .use-case-analytics-wrapper .use-case-analytics-columns {
    flex-direction: column;
    gap: 24px;
  }
  .use-case-analytics-wrapper {
    padding: 40px 0;
  }
  
  .use-case-analytics-wrapper .use-case-analytics-container {
    padding: 0 20px;
  }
  
  .use-case-analytics-wrapper .use-case-analytics-title {
    font-size: 36px;
    line-height: 46px;
  }
  
  .use-case-analytics-wrapper .use-case-analytics-description {
    font-size: 14px;
    line-height: 22px;
  }
  
  .use-case-analytics-wrapper .use-case-analytics-column {
    padding: 30px 20px;
    width: 100%;
  }
  
  .use-case-analytics-wrapper .use-case-analytics-item-text {
    font-size: 14px;
    line-height: 22px;
  }
}

