.career-overview {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.career-overview .section-content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  background-color: #EDFBFF;
}

.career-overview .content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 70px 30px;
  flex-wrap: wrap;
}

.career-overview .content-wrapper .question {
  width: 50%;
}

.career-overview .view-roles-btn {
  width: 15rem;
  margin-top: 2.5rem;
}

.career-overview .fast_img {
  width: 45%;
}

@media(max-width: 768px){
  .career-overview {
    height: auto;
  }

  .career-overview .section-content-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background-color: #EDFBFF;
  }

  .career-overview .content-wrapper {
    flex-wrap: wrap-reverse;
  }
  
  .career-overview .content-wrapper .question {
    width: 100%;
    margin-top: 2rem;
  }
  
  .career-overview .view-roles-btn {
    width: 10rem;
    height: 2.6rem;
    border-radius: 1.3rem;
    margin-top: 2rem;
    font-size: 1rem;
  }
  
  .career-overview .fast_img {
    width: 100%;
  }
}

