.home-banner {
  width: 100%;
  position: relative;
  height: 830px;
  background: #65DAFF;
  overflow: hidden;
}
.home-banner .home-banner-bg {
  top: 50%;
  left: 50%;
  height: 100%;
  width: 1920px;
  transform: translateX(-50%) translateY(-50%);
  max-width: 1920px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1920px auto;
  position: absolute;
  z-index: 0;
}

.home-banner .home-banner-bg:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  z-index: 2;
  background: linear-gradient(to right, #65DAFF 0%, rgba(101, 218, 255, 0) 100%);
}
.home-banner .home-banner-bg:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100px;
  z-index: 2;
  background: linear-gradient(to right, rgba(101, 218, 255, 0) 0%, #65DAFF 100%);
}
.home-banner .content-wrapper {
  position: relative;
  max-width: 1596px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}
.home-banner .banner-content {
  flex-basis: 47%;
}
.home-banner .title {
  color: #000;
  font-size: 72px;
  line-height: 87px;
  font-weight: 700;
  max-width: 790px;
}
.home-banner .desc {
  color: #000;
  font-size: 20px;
  line-height: 32px;
  margin-top: 14px;
  font-weight: 400;
}
.home-banner .banner-btn {
  padding: 0;
  display: flex;
}
.home-banner .button-secondary {
  border: 2px solid #0061FF;
}
.home-banner .banner-btn a {
  font-size: 20px;
  text-align: center;
  min-width: 200px;
}
.home-banner p.desc:empty {
  display: none;
}
.home-banner .animation-wrap {
  flex-basis: 50%;
  text-align: center
}
.home-banner .animation-wrap img{
  width: 346px;
}

.home-banner .banner-buttons {
  margin-top: 26px;
  justify-content: flex-start;
}
.home-banner .banner-btn:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 1200px){ 
  .home-banner .title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 767px){
  .home-banner {
    height: auto;
    padding-bottom: 80px;
    padding-top: 240px;
  }
  .home-banner .content-wrapper {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .home-banner .home-banner-bg  {
    height: 500px;
    top: 0;
    transform: translateX(-66%) translateY(-24%);
    width: 850px;
  }
  .home-banner .banner-content, .home-banner .animation-wrap {
    flex-basis: 100%;
    z-index: 2;
    padding: 0;
  }
  .home-banner .animation-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
  }
  .home-banner .animation-wrap img {
    width: 200px;
  }
  .home-banner .title {
    font-size: 36px;
    line-height: 46px;
  }
  .home-banner .desc {
    width: 100%;
    font-size: 15px;
    line-height: 24px;
  }
  .home-banner .banner-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .home-banner .banner-btn:not(:first-child) {
    margin-top: 20px;
  }
  .home-banner .banner-btn:not(:last-child) {
    margin-right: 1rem;
  }
 
  .home-banner .banner-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .home-banner .banner-btn a {
    width: 12rem;
    font-size: 16px;
  }
}

