.about-us-banner {
  width: 100%;
  height: 580px;
  background-color: #65daff;
}
.banner-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 30px 0;
  display: flex;
  justify-content: space-between;
}
.banner-content .left {
  width: 610px;
}

.banner-content .left .title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.banner-content .left .content {
  color: #000;
  font-size: 64px;
  font-weight: 600;
}

.banner-content img {
  width: 374px;
  height: auto;
}

@media(max-width: 1197px){
  .about-us-banner {
    padding-bottom: 100px;
    height: auto;
  }
  .banner-content .left {
    width: 320px;
  }
  .banner-content img {
    width: 250px;
    height: auto;
  }
  .banner-content .left .content {
    font-size: 35px;
  }
}
@media(max-width: 767px){
  .banner-content .left {
    width: auto;
  }
  .banner-content {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .banner-content img {
    margin-bottom: 35px;
  }
}