/* Fields */

.hs-form-field, .field, div#hs-search-module .hs-input {
  margin-bottom: 1rem;
}

/* Labels */

form label {
  margin: 0.5rem 0;
  font-size: .87rem;
  color: #222;
  line-height: 24px;
}

/* Help text */

form legend {
  font-size: .87rem;
  color: #222;
  line-height: 24px;
}

/* Inputs */

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
  background-color: rgba(0,0,0,.04);
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  height: 36px;
  color: #444;
  font-size: .87rem;
  outline: none;
  font-family: Arial;
}

form fieldset {
  max-width: 100% !important;
}

/* Inputs - checkbox/radio */

form .inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

form .inputs-list > li {
  display: block;
}

form .inputs-list input,
form .inputs-list span {
  vertical-align: middle;
}

form input[type=checkbox],
form input[type=radio] {
  cursor: pointer;
  margin-right: 0.35rem;
  height: auto;
}

/* Inputs - date picker */

.hs-dateinput {
  position: relative;
}

.hs-dateinput:before {
  content:'\01F4C5';
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.fn-date-picker .pika-table thead th {
  color: #FFF;
}

.fn-date-picker td.is-selected .pika-button {
  border-radius: 0;
  box-shadow: none;
}

.fn-date-picker td .pika-button:hover,
.fn-date-picker td .pika-button:focus {
  border-radius: 0 !important;
  color: #FFF;
}

/* Inputs - file picker */

form input[type=file] {
  background-color: transparent;
  border: initial;
  padding: initial;
}

/* Headings and text */


form .hs-richtext img {
  max-width: 100% !important;
}

/* GDPR */

.legal-consent-container .hs-form-booleancheckbox-display > span,
.legal-consent-container .hs-form-booleancheckbox-display > span p {
  margin-left: 1rem !important;
}

/* Validation */

.hs-form-required {
  color: #EF6B51;
}

.hs-input.invalid.error {
  border-color: #FF0000;
}

form .hs-error-msg, form .hs-error-msgs label {
  color: #FF0000;
  margin-top: 0.35rem;
}

/* Submit button */

form input[type=submit],
form .hs-button {
  white-space: normal;
  text-decoration: none !important;
  line-height: 28px;
  padding: 0 1rem;
  text-align: center;
  display: inline-block;
  background-color: #0061ff;
  width: auto;
  font-size: .87rem;
  color: #011527;
  cursor: pointer;
  border-radius: 2px;
  z-index: 2;
}



