.header-right-content .button {
    line-height: 36px;
    font-size: 16px;
    padding: 0px 15px;
}
.header-right-content .button a {
    padding: 0 14px;
}
.header-right-content .button.button-text a {
  color: #0061ff;
}
.header-right-content .button.button-text a:hover,
.header-right-content .button.button-text a:focus{
  opacity: 0.8;
}

@media (max-width: 1400px) and (min-width: 768px) {
 .header-right-content .button{
    font-size: 13px;
    padding: 0px 6px;
    line-height: 28px;
  }
  .header-right-content .button a {
    padding: 0 10px;
  }
}
 
@media (max-width: 1250px) {
 .header-right-content .button-secondary, .header-right-content .button-text {
    display: none;
  }
}

@media (max-width: 1120px) and (min-width: 768px) {
 .header-right-content .button{
    line-height: 26px;
    padding: 0;
  }
}
 
@media (max-width: 899px) and (min-width: 768px) {
 .header-right-content .button{
    display: none;
  }
}
 