.tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px #000;
  box-shadow: 0 2px 10px #000;
}
.tag-container + .blog-divider {
  width: 100%;
  height: 1px;
  background: #eee;
}
.tag-container .content-wrapper {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: auto;
  padding: 0 1.2rem;
}
.tag-container .tags a {
  text-decoration: none;
  padding: 0 1rem;
  line-height: 3.3rem;
  background-color: #fff;
  color: #444;
  font-size: 1rem;
  display: inline-block;
}
.tag-container .tags a.active {
  color: #2d97ac;
  font-weight: 700;
  border-bottom: 2px solid #2d97ac;
}












@media(max-width: 767px){
  .tag-container .content-wrapper {
    padding: 0;
  }
  .tag-container .tags a {
    line-height: 2.6rem;
  }


}














