{% if module.background_image.src or module.banner_image.src or module.title or module.content or item.type or item.style %}
<div class="page-banner banner_sec row-flex">
  {% if module.background_image.src %}
    <div class="page-banner-bg" style="background-image: url({{ module.background_image.src }});"></div>
  {% endif %}
  <div class="content-wrapper hs-row-flex hs-jus-between hs-align-center">
    <div class="banner-content hs-col-flex">
      <h1 class="title">
        {{ module.title }}
        {% if module.banner_label %}
          <span class="banner-label">{{ module.banner_label }}</span>
        {% endif %}
      </h1>
      <p class="desc">{{ module.content }}</p>
      <div class="banner-buttons row-flex full-width">
        {% for item in module.buttons %}
        <div class="banner-btn button button-{{ item.style }}">
          {% if item.type == "std" %}
          {% set href = item.link.url.href %}
          {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}"
             {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
             {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
             >
             <span> {{ item.text }}
             {% if item.show_narrow %}
                <svg height="18" version="1.1" viewbox="0 0 1024 1024" width="18" xmlns="http://www.w3.org/2000/svg">
                  <path d="M826.24 535.893333l-212.48 213.333334a33.706667 33.706667 0 0 1-23.893333 10.24c-8.533333 0-17.066667-3.413333-23.893334-10.24a34.005333 34.005333 0 0 1 0-48.64l154.453334-155.306667H222.08c-18.773333 0-34.133333-15.36-34.133333-34.133333 0-18.773333 15.36-34.133333 34.133333-34.133334h498.346667l-154.453334-155.306666a34.005333 34.005333 0 0 1 0-48.64c13.653333-13.653333 34.986667-13.653333 48.64 0l212.48 213.333333c12.8 14.506667 12.8 36.693333-0.853333 49.493333z" p-id="4717"></path>
                </svg>
              {% endif %}
              </span>
          </a>
          {% endif %}
          {% if item.type == "cta" %}
          {% cta guid="{{ item.cta }}" %}
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="provider-img hs-row-flex hs-align-end">
      {% for item in module.logos %}
        {% if item.image.src %}
          <div class="provider-item">
           {% if item.soon_bolean %} 
            <img class="soon-img" src="{{ item.desc_image.src }}" alt="{{ item.desc_image.alt }}" width="{{ item.desc_image.width|divide(2) }}" >
           {% endif %}
            <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" width="{{ item.image.width|divide(2) }}" >
          </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="banner-img-wrap">
      <img class="banner_img" src="{{ module.banner_image.src }}" alt="{{ module.banner_image.alt }}" width="{{ module.banner_image.width|divide(2) }}">
    </div>
  </div>
</div>
{% endif %}
