.about-us-journey {
  width: 100%;
  position: relative;
  background-color: #1539BA;
  overflow: hidden;
}

.about-us-journey .title {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 60px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.about-us-journey .journey-chart {
  position: relative;
  width: 1920px;
  height: 912px;
  transform-origin: top left;
  color: #fff;
}

.about-us-journey .journey-chart .chart-item {
  position: absolute;
  border-left: 1px dashed #65DAFF;
}

.about-us-journey .journey-chart .chart-item .point{
  display: inline-block;
  position: absolute;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #65DAFF;
}

.about-us-journey .journey-chart .chart-item .top-point {
  top: -8px;
}

.about-us-journey .journey-chart .chart-item .bottom-point {
  bottom: -8px;
}
.about-us-journey .journey-chart .chart-item .xaxis-label {
  position: absolute;
  bottom: -40px;
  left: 0;
  display: inline-block;
  width: 500px;
  text-align: center;
  transform: translateX(-50%);
  color: #65DAFF;
  font-size: 20px;
  font-weight: 500;
}

.about-us-journey .journey-chart .chart-item .yaxis-value {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 20px;
  top: -10px;
  color: #fff;
  font-size: 16px;
}

.about-us-journey .journey-chart .chart-item .yaxis-value.left-value {
  transform: translateX(calc(-100% - 40px));
  text-align: right !important;
}

.about-us-journey .journey-chart .chart-item .yaxis-value.left-value p {
  text-align: right !important;
}

.about-us-journey img {
  width: 100%;
  height: 100%;
}

@media(max-width: 1197px){
  .about-us-journey .title {
    left: 0;
    top: 40px;
    font-size: 32px;
  }
}
@media(max-width: 767px){
  .about-us-journey .title {
    left: 0;
    top: 20px;
    font-size: 24px;
  }
}
