<div class="events-list-container hs-col-flex">
  <div class="content-wrapper hs-col-flex">
    <div class="events-listing hs-row-flex hs-jus-start hs-align-stretch">
      {% for item in module.item_groups %}
        <div class="event-item hs-col-flex">
          <div class="event-header hs-col-flex">
            {% if item.title %}
              <p class="sec-title">{{ item.title }}</p>
            {% endif %}
            {% if item.date %}
              <div class="hs-row-flex hs-align-center">
                {% if item.icon_img.src %}
                  <img class="icon-img" src="{{ item.icon_img.src }}" alt="{{ item.icon_img.alt }}" >
                {% endif %}
                <p class="date">{{ item.date }}</p>
              </div>
            {% endif %}
          </div>
          <div class="event-content hs-row-flex hs-jus-between hs-align-center">
            {% if item.content %}
              <div class="content">{{ item.content }}</div>
            {% endif %}
            <div class="event-button row-flex">
              <div class="button button-secondary">
                {% set href = item.link.url.href %}
                {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href }}"
                  {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
                  >
                  <span> {{ item.button_text }}</span>
                  <svg height="18" version="1.1" viewbox="0 0 1024 1024" width="18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M826.24 535.893333l-212.48 213.333334a33.706667 33.706667 0 0 1-23.893333 10.24c-8.533333 0-17.066667-3.413333-23.893334-10.24a34.005333 34.005333 0 0 1 0-48.64l154.453334-155.306667H222.08c-18.773333 0-34.133333-15.36-34.133333-34.133333 0-18.773333 15.36-34.133333 34.133333-34.133334h498.346667l-154.453334-155.306666a34.005333 34.005333 0 0 1 0-48.64c13.653333-13.653333 34.986667-13.653333 48.64 0l212.48 213.333333c12.8 14.506667 12.8 36.693333-0.853333 49.493333z" p-id="4717"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>